{#
 # Template dispalying the breadcrumbs.
 # Parameter :
 # - items: an array of hashes with a "link" and a "label" for each item.
#}
<nav class="ez-breadcrumbs">
    <ul class="ez-breadcrumbs-list">
        {% for item in items %}
            <li class="ez-breadcrumbs-item">
                {% if item.link is not empty %}
                    <a href="{{ item.link }}">{{ item.label }}</a>
                {% else %}
                    {{ item.label }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>

