{% extends "eZPlatformUIBundle::pjax.html.twig" %}

{% trans_default_domain "section" %}

{% block content %}
    <header class="ez-page-header">
        <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'section.create'|trans }}</h1>
    </header>
    {{ form(form) }}

{% endblock %}

{% block title %}{{ 'section.create'|trans }}{% endblock %}