.ez-view-navigationhubview {
    background: #fff;
    border-top: 4px solid #000;
}

.ez-view-navigationhubview .ez-zones-navigation {
    margin-bottom: -1px; /* for the highlight effect on the active zone */
}

.ez-view-navigationhubview .ez-zone {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.ez-view-navigationhubview .is-zone-active {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.ez-view-navigationhubview .ez-navigation {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #bbb;

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);

    background: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F5F5F5), color-stop(1, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:    -moz-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:     -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:      -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:         linear-gradient(to top, #F5F5F5 0%, #FFFFFF 100%);
    font-size: 90%;
}

.ez-view-navigationhubview.is-navigation-fixed .ez-navigation {
    border-top: 4px solid #000;
}

.ez-view-navigationhubview .ez-zone:hover {
    cursor: pointer;
}

.ez-view-navigationhubview .ez-zone:before {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0;
    background: #528036;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    float: left;
    text-align: center;
    font-family: 'ez-platformui-icomoon';
    font-size: 150%;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 62em) {
    .ez-view-navigationhubview .ez-zone:before {
        font-size: 120%;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
    }
}

.ez-view-navigationhubview .ez-create-zone:before {
    content: "\E611";
}

.ez-view-navigationhubview .ez-optimize-zone:before {
    content: "\E612";
}

.ez-view-navigationhubview .ez-deliver-zone:before {
    content: "\E60D";
}

.ez-view-navigationhubview .ez-link a:after {
    padding-left: 0.5em;
    vertical-align: middle;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item,
.ez-view-navigationhubview .ez-zone-name {
    font-weight: bold;
    color: #333;
}

.ez-view-navigationhubview .ez-navigation .ez-logo {
    opacity: 0;
    visibility: visible;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.ez-view-navigationhubview.is-navigation-fixed .ez-navigation .ez-logo {
    opacity: 1;
    visibility: visible;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item {
    vertical-align: middle;
}

.ez-view-navigationhubview .ez-sub-menu-link > .ez-navigation-item:after {
    font-family: 'ez-platformui-icomoon';
    content: "\E602";
    color: #888;
    font-size: 90%;
}

.ez-view-navigationhubview .ez-sub-menu-link:hover {
    background: #fff;
}

.ez-view-navigationhubview .ez-sub-menu {
    display: block;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.1s ease;
       -moz-transition: -moz-transform 0.1s ease;
        -ms-transition: -ms-transform 0.1s ease;
         -o-transition: -o-transform 0.1s ease;
            transition: transform 0.1s ease;
}

.ez-view-navigationhubview .is-sub-menu-open .ez-sub-menu {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
}

.ez-view-navigationhubview .ez-sub-menu li:hover {
    background: #f0f0f0;
}

.ez-view-navigationhubview li {
    border-bottom: 3px solid transparent;
}

.ez-view-navigationhubview .ez-navigation-active {
    border-bottom: 3px solid #528036;
}

.ez-view-navigationhubview .ez-zone-hint {
    color: #777;
    font-size: 80%;
}

.ez-view-navigationhubview .ez-link a {
    color: #333;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item:hover,
.ez-view-navigationhubview .ez-link a:hover {
    color: #528036;
}

.ez-view-navigationhubview .ez-user-info {
    font-size: 85%;
}

.ez-view-navigationhubview .ez-user-info-name {
    font-weight: bold;
}
