parameters:
    ez_platformui.default.yui: {}
    ez_platformui.default.yui.filter: "min"
    ez_platformui.default.yui.combine: true
    ez_platformui.default.yui.build_dir: /bundles/ezplatformuiassets/vendors/yui3/build/
    ez_platformui.default.yui.modules: []
    # Requirements for each YUI module can be found after compilation under:
    # ez_platformui.<scope>.yui.modules.<module_name>.requires
    # For reverse requirements:
    # ez_platformui.<scope>.yui.modules.<module_name>.dependencyOf
    # Path:
    # ez_platformui.<scope>.yui.modules.<module_name>.path
    # Type ('js' or 'template')
    # ez_platformui.<scope>.yui.modules.<module_name>.type
    ez_platformui.default.css.files: []
    ez_platformui.default.javascript.files: []

    ezsettings.global.system_info_view:
        pjax_tab:
            composer:
                template: "eZPlatformUIBundle:ez-support-tools/info:composer.html.twig"
                match:
                    SystemInfo\Identifier: "composer"
            database:
                template: "eZPlatformUIBundle:ez-support-tools/info:database.html.twig"
                match:
                    SystemInfo\Identifier: "database"
            hardware:
                template: "eZPlatformUIBundle:ez-support-tools/info:hardware.html.twig"
                match:
                    SystemInfo\Identifier: "hardware"
            php:
                template: "eZPlatformUIBundle:ez-support-tools/info:php.html.twig"
                match:
                    SystemInfo\Identifier: "php"
            symfony_kernel:
                template: "eZPlatformUIBundle:ez-support-tools/info:symfony_kernel.html.twig"
                match:
                    SystemInfo\Identifier: "symfony_kernel"
