parameters:
    ezsystems.platformui.twig.yui_extension.class: EzSystems\PlatformUIBundle\Twig\TwigYuiExtension
    ezsystems.platformui.controller.base.class: EzSystems\PlatformUIBundle\Controller\Controller
    ezsystems.platformui.controller.class: EzSystems\PlatformUIBundle\Controller\PlatformUIController
    ezsystems.platformui.controller.dashboard.class: EzSystems\PlatformUIBundle\Controller\DashboardController
    ezsystems.platformui.helper.systeminfo.class: EzSystems\PlatformUIBundle\Helper\SystemInfoHelper
    ezsystems.platformui.controller.systeminfo.class: EzSystems\PlatformUIBundle\Controller\SystemInfoController
    ezsystems.platformui.controller.language.class: EzSystems\PlatformUIBundle\Controller\LanguageController
    ezsystems.platformui.controller.section.class: EzSystems\PlatformUIBundle\Controller\SectionController
    ezsystems.platformui.controller.template.class: EzSystems\PlatformUIBundle\Controller\TemplateController
    ezsystems.platformui.controller.content_type.class: EzSystems\PlatformUIBundle\Controller\ContentTypeController
    ezsystems.platforui.notification_pool.class: EzSystems\PlatformUIBundle\Notification\NotificationPool
    ezsystems.platformui.form_processor.content_type.class: EzSystems\PlatformUIBundle\Form\Processor\ContentTypeFormProcessor
    ezsystems.platformui.form_processor.content_type_group.class: EzSystems\PlatformUIBundle\Form\Processor\ContentTypeGroupFormProcessor
    ezsystems.platformui.controller.role.class: EzSystems\PlatformUIBundle\Controller\RoleController
    ezsystems.platformui.form_processor.role.class: EzSystems\PlatformUIBundle\Form\Processor\RoleFormProcessor
    ezsystems.platformui.form_processor.policy.class: EzSystems\PlatformUIBundle\Form\Processor\PolicyFormProcessor
    ezsystems.platformui.application_config.provider.session_info.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\SessionInfo
    ezsystems.platformui.application_config.provider.value.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\Value
    ezsystems.platformui.application_config.provider.anonymous_user_id.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\AnonymousUserId
    ezsystems.platformui.application_config.aggregator.class: EzSystems\PlatformUIBundle\ApplicationConfig\Aggregator
    ezsystems.platformui.application_config.provider.root_info.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\RootInfo
    ezsystems.platformui.application_config.provider.languages.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\Languages
    ezsystems.platformui.form_processor.language.class: EzSystems\PlatformUIBundle\Form\Processor\LanguageFormProcessor
    ezsystems.platformui.form_processor.section.class: EzSystems\PlatformUIBundle\Form\Processor\SectionFormProcessor
    ezsystems.platformui.exception_listener.class: EzSystems\PlatformUIBundle\EventListener\ExceptionListener
    ezsystems.platformui.exception_controller: "ezsystems.platformui.controller.exception:showAction"
    ezsystems.platformui.controller.exception.class: EzSystems\PlatformUIBundle\Controller\ExceptionController
    ezsystems.platformui.loader.combo_loader.class: EzSystems\PlatformUIBundle\Loader\ComboLoader

    # override of the REST content controller
    ezpublish_rest.controller.content.class: EzSystems\PlatformUIBundle\Controller\Rest\ContentController

services:
    ezsystems.platformui.twig.yui_extension:
        class: %ezsystems.platformui.twig.yui_extension.class%
        arguments: [@ezpublish.config.resolver, @router, @?logger]
        tags:
            - { name: twig.extension }

    ezsystems.platformui.controller.base:
        class: %ezsystems.platformui.controller.base.class%
        abstract: true
        calls:
            - [setContainer, [@service_container]]
            - [setNotificationPool, [@ezsystems.platformui.notification_pool]]
            - [performAccessChecks, []]

    ezsystems.platformui.controller:
        class: %ezsystems.platformui.controller.class%
        arguments:
            - @ezsystems.platformui.application_config.aggregator
            - @ezsystems.platformui.loader.combo_loader
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.application_config.aggregator:
        class: %ezsystems.platformui.application_config.aggregator.class%

    ezsystems.platformui.application_config.provider.session_info:
        class: %ezsystems.platformui.application_config.provider.session_info.class%
        arguments:
            - @session
            - @security.csrf.token_manager
            - %ezpublish_rest.csrf_token_intention%
            - @router
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'sessionInfo'}

    ezsystems.platformui.application_config.provider.anonymous_user_id:
        class: %ezsystems.platformui.application_config.provider.anonymous_user_id.class%
        arguments:
            - @router
            - $anonymous_user_id$
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'anonymousUserId'}

    ezsystems.platformui.application_config.provider.countries_info:
        class: %ezsystems.platformui.application_config.provider.value.class%
        arguments:
            - %ezpublish.fieldType.ezcountry.data%
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'countriesInfo'}

    ezsystems.platformui.application_config.provider.root_info:
        class: %ezsystems.platformui.application_config.provider.root_info.class%
        arguments:
            - @request_stack
            - @templating.helper.assets
            - %ez_platformui.external_assets_public_dir%
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'rootInfo'}

    ezsystems.platformui.application_config.provider.languages:
        class: %ezsystems.platformui.application_config.provider.languages.class%
        arguments:
            - @ezpublish.api.service.language
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'languages'}

    ezsystems.platformui.controller.template:
        class: %ezsystems.platformui.controller.template.class%
        arguments: [@ezpublish.config.resolver]
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.controller.dashboard:
        class: %ezsystems.platformui.controller.dashboard.class%
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.helper.systeminfo:
        class: %ezsystems.platformui.helper.systeminfo.class%
        arguments:
            - @database_connection
            - %kernel.bundles%

    ezsystems.platformui.controller.systeminfo:
        class: %ezsystems.platformui.controller.systeminfo.class%
        arguments:
            - @ezsystems.platformui.helper.systeminfo
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.controller.content_type:
        class: %ezsystems.platformui.controller.content_type.class%
        parent: ezsystems.platformui.controller.base
        arguments:
            - @ezpublish.api.service.content_type
            - @ezpublish.api.service.search
            - @ezpublish.api.service.user
            - @ezrepoforms.action_dispatcher.content_type.group
            - @ezrepoforms.action_dispatcher.content_type
            - @ezrepoforms.field_type_form_mapper.registry
        calls:
            - [setPrioritizedLanguages, ["$languages$"]]

    ezsystems.platformui.notification_pool:
        class: %ezsystems.platforui.notification_pool.class%
        arguments: [@translator, @session]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.form_processor.content_type:
        class: %ezsystems.platformui.form_processor.content_type.class%
        arguments: [@router, @ezsystems.platformui.notification_pool, @ezpublish.api.service.content_type]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.form_processor.content_type_group:
        class: %ezsystems.platformui.form_processor.content_type_group.class%
        arguments: [@ezsystems.platformui.notification_pool, @router]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.controller.role:
        class: %ezsystems.platformui.controller.role.class%
        parent: ezsystems.platformui.controller.base
        arguments:
            - @ezpublish.api.service.role
            - @ezrepoforms.action_dispatcher.role
            - @ezrepoforms.action_dispatcher.policy
            - @translator

    ezsystems.platformui.form_processor.role:
        class: %ezsystems.platformui.form_processor.role.class%
        arguments: [@router, @ezsystems.platformui.notification_pool, @ezpublish.api.service.role]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.form_processor.policy:
        class: %ezsystems.platformui.form_processor.policy.class%
        arguments: [@router, @ezsystems.platformui.notification_pool]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.exception_listener:
        class: %ezsystems.platformui.exception_listener.class%
        arguments:
            - %ezsystems.platformui.exception_controller%
            - @?logger
        tags:
            - { name: kernel.event_subscriber }
            - { name: monolog.logger, channel: request }

    ezsystems.platformui.controller.exception:
        class: %ezsystems.platformui.controller.exception.class%
        parent: twig.controller.exception

    ezsystems.platformui.rest.user_field_type_processor:
        class: EzSystems\PlatformUIBundle\Rest\UserFieldTypeProcessor
        tags:
            - { name: ezpublish_rest.field_type_processor, alias: ezuser }

    ## Section related services
    ezsystems.platformui.controller.section:
        class: %ezsystems.platformui.controller.section.class%
        arguments:
            - @ezrepoforms.action_dispatcher.section
            - @ezpublish.api.service.section
            - @ezsystems.platformui.notification_pool
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.form_processor.section:
        class: %ezsystems.platformui.form_processor.section.class%
        arguments: [@ezsystems.platformui.notification_pool, @router]
        tags:
            - { name: kernel.event_subscriber }

    ## Language related services
    ezsystems.platformui.controller.language:
        class: %ezsystems.platformui.controller.language.class%
        arguments:
            - @ezrepoforms.action_dispatcher.language
            - @ezpublish.api.service.language
            - @ezsystems.platformui.notification_pool
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.form_processor.language:
        class: %ezsystems.platformui.form_processor.language.class%
        arguments: [@ezsystems.platformui.notification_pool, @router]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.loader.combo_loader:
        class: %ezsystems.platformui.loader.combo_loader.class%
        arguments: [@ezpublish.config.resolver, @templating, "$yui.build_dir;ez_platformui$", %webroot_dir%]
