parameters:
    ezsystems.platformui.twig.yui_extension.class: EzSystems\PlatformUIBundle\Twig\TwigYuiExtension
    ezsystems.platformui.controller.base.class: EzSystems\PlatformUIBundle\Controller\Controller
    ezsystems.platformui.controller.class: EzSystems\PlatformUIBundle\Controller\PlatformUIController
    ezsystems.platformui.helper.systeminfo.class: EzSystems\PlatformUIBundle\Helper\SystemInfoHelper
    ezsystems.platformui.controller.template.class: EzSystems\PlatformUIBundle\Controller\TemplateController
    ezsystems.platforui.notification_pool.class: EzSystems\PlatformUIBundle\Notification\NotificationPool
    ezsystems.platformui.application_config.provider.session_info.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\SessionInfo
    ezsystems.platformui.application_config.provider.value.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\Value
    ezsystems.platformui.application_config.provider.anonymous_user_id.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\AnonymousUserId
    ezsystems.platformui.application_config.provider.locales_map.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\LocalesMap
    ezsystems.platformui.application_config.aggregator.class: EzSystems\PlatformUIBundle\ApplicationConfig\Aggregator
    ezsystems.platformui.application_config.provider.root_info.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\RootInfo
    ezsystems.platformui.application_config.provider.languages.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\Languages
    ezsystems.platformui.application_config.provider.interface_languages.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\InterfaceLanguages
    ezsystems.platformui.application_config.provider.siteaccess_list.class: EzSystems\PlatformUIBundle\ApplicationConfig\Providers\SiteaccessList
    ezsystems.platformui.form_processor.language.class: EzSystems\PlatformUIBundle\Form\Processor\LanguageFormProcessor
    ezsystems.platformui.form_processor.section.class: EzSystems\PlatformUIBundle\Form\Processor\SectionFormProcessor
    ezsystems.platformui.exception_listener.class: EzSystems\PlatformUIBundle\EventListener\ExceptionListener
    ezsystems.platformui.exception_controller: "ezsystems.platformui.controller.exception:showAction"
    ezsystems.platformui.controller.exception.class: EzSystems\PlatformUIBundle\Controller\ExceptionController
    ezsystems.platformui.loader.combo_loader.class: EzSystems\PlatformUIBundle\Loader\ComboLoader
    ezsystems.platformui.event_subscriber.request_locale.class: EzSystems\PlatformUIBundle\EventListener\RequestLocaleSubscriber
    ezsystems.platformui.pjax.request_matcher.class: EzSystems\PlatformUIBundle\Http\PjaxRequestMatcher
    ezsystems.platformui.view_matcher.pjax_request.class: EzSystems\PlatformUIBundle\Matcher\PjaxRequest

    # override of the REST content controller
    ezpublish_rest.controller.content.class: EzSystems\PlatformUIBundle\Controller\Rest\ContentController

    # Maximum number of content object allowed to copy at once. Possible values are:
    # -1 to disable limiting, 0 to disable this feature, > 0 enable limiting
    ezsystems.platformui.application_config.copy_subtree.limit: 100

    # Default config if css should be combined even if in debug mode.
    # Set to false to get pre 1.13 behaviour which depends on assetic config (by default using %kernel.debug%).
    ezsystems.platformui.application_config.css_combine: true

    # As combo loader does not have cache busting we set a low default cache time for use in non debug mode
    # NOTE: value is only used for proxy cache, and staleness is set to be allowed for up to same time as ttl.
    # To disable set to 0.
    ezsystems.platformui.application_config.combo_loader.cache_ttl: 604800
services:
    ezsystems.platformui.twig.yui_extension:
        class: "%ezsystems.platformui.twig.yui_extension.class%"
        arguments: ["@ezpublish.config.resolver", "@router", "@?logger"]
        tags:
            - { name: twig.extension }

    ezsystems.platformui.controller.base:
        class: "%ezsystems.platformui.controller.base.class%"
        abstract: true
        calls:
            - [setContainer, ["@service_container"]]
            - [setNotificationPool, ["@ezsystems.platformui.notification_pool"]]
            - [performAccessChecks, []]

    ezsystems.platformui.controller:
        class: "%ezsystems.platformui.controller.class%"
        arguments:
            - "@ezsystems.platformui.application_config.aggregator"
            - "@ezsystems.platformui.loader.combo_loader"
            - "@translator"
            - "@=container.getParameter('kernel.debug') ? 0 : parameter('ezsystems.platformui.application_config.combo_loader.cache_ttl')"
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.application_config.aggregator:
        class: "%ezsystems.platformui.application_config.aggregator.class%"

    ezsystems.platformui.application_config.provider.session_info:
        class: "%ezsystems.platformui.application_config.provider.session_info.class%"
        arguments:
            - "@session"
            - "@security.csrf.token_manager"
            - "%ezpublish_rest.csrf_token_intention%"
            - "@router"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'sessionInfo'}

    ezsystems.platformui.application_config.provider.anonymous_user_id:
        class: "%ezsystems.platformui.application_config.provider.anonymous_user_id.class%"
        arguments:
            - "@router"
            - $anonymous_user_id$
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'anonymousUserId'}

    ezsystems.platformui.application_config.provider.countries_info:
        class: "%ezsystems.platformui.application_config.provider.value.class%"
        arguments:
            - "%ezpublish.fieldType.ezcountry.data%"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'countriesInfo'}

    ezsystems.platformui.application_config.provider.css_combine:
        class: '%ezsystems.platformui.application_config.provider.value.class%'
        arguments:
            - { combine: '%ezsystems.platformui.application_config.css_combine%'}
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'css'}

    ezsystems.platformui.application_config.provider.locales_map:
        class: "%ezsystems.platformui.application_config.provider.locales_map.class%"
        arguments:
            - "%ezpublish.locale.conversion_map%"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'localesMap'}

    ezsystems.platformui.application_config.provider.image_variations:
        class: "%ezsystems.platformui.application_config.provider.value.class%"
        arguments:
            - $image_variations$
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'imageVariations'}

    ezsystems.platformui.application_config.provider.root_info:
        class: "%ezsystems.platformui.application_config.provider.root_info.class%"
        arguments:
            - "@request_stack"
            - "@assets.packages"
            - "%ez_platformui.external_assets_public_dir%"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'rootInfo'}

    ezsystems.platformui.application_config.provider.languages:
        class: "%ezsystems.platformui.application_config.provider.languages.class%"
        arguments:
            - "@ezpublish.api.service.language"
            - $languages$
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'languages'}

    ezsystems.platformui.application_config.provider.interface_languages:
        class: "%ezsystems.platformui.application_config.provider.interface_languages.class%"
        arguments:
            - "@request_stack"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'interfaceLanguages'}

    ezsystems.platformui.application_config.provider.siteaccess_list:
        class: "%ezsystems.platformui.application_config.provider.siteaccess_list.class%"
        arguments:
            - '@ezpublish.config.resolver'
            - '@ezpublish.siteaccess'
            - '%ezpublish.siteaccess.list%'
            - '%ezpublish.siteaccess.groups%'
            - '%ezpublish.repositories%'
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'siteaccessList'}

    ezsystems.platformui.application_config.provider.translation_domains:
        class: "%ezsystems.platformui.application_config.provider.value.class%"
        arguments:
            - "%ez_platformui.translation_domains%"
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'translationDomains'}

    ezsystems.platformui.application_config.provider.api_keys:
        class: "%ezsystems.platformui.application_config.provider.value.class%"
        arguments:
            - $api_keys$
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'apiKeys'}

    ezsystems.platformui.application_config.provider.copy_subtree:
        class: "%ezsystems.platformui.application_config.provider.value.class%"
        arguments:
            - {limit: '%ezsystems.platformui.application_config.copy_subtree.limit%'}
        tags:
            - {name: ezsystems.platformui.application_config_provider, key: 'copySubtree'}

    ezsystems.platformui.controller.template:
        class: "%ezsystems.platformui.controller.template.class%"
        arguments: ["@ezpublish.config.resolver"]
        parent: ezsystems.platformui.controller.base

    ezsystems.platformui.notification_pool:
        class: "%ezsystems.platforui.notification_pool.class%"
        arguments: ["@translator", "@session"]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.exception_listener:
        class: "%ezsystems.platformui.exception_listener.class%"
        arguments:
            - "%ezsystems.platformui.exception_controller%"
            - "@?logger"
        tags:
            - { name: kernel.event_subscriber }
            - { name: monolog.logger, channel: request }

    ezsystems.platformui.controller.exception:
        class: "%ezsystems.platformui.controller.exception.class%"
        parent: twig.controller.exception

    ezsystems.platformui.rest.user_field_type_processor:
        class: EzSystems\PlatformUIBundle\Rest\UserFieldTypeProcessor
        tags:
            - { name: ezpublish_rest.field_type_processor, alias: ezuser }

    ezsystems.platformui.loader.combo_loader:
        class: "%ezsystems.platformui.loader.combo_loader.class%"
        arguments: ["@ezpublish.config.resolver", "@templating", "$yui.build_dir;ez_platformui$", "%webroot_dir%"]

    ezsystems.platformui.event_subscriber.pjax_browser_language:
        class: "%ezsystems.platformui.event_subscriber.request_locale.class%"
        arguments:
            - "@ezsystems.platformui.pjax.request_matcher"
        tags:
            - { name: kernel.event_subscriber }
    ezsystems.platformui.translation.file_visitor.handlebars:
        class: EzSystems\PlatformUIBundle\Translation\HandleBarsFileVisitor
        tags:
            - { name: jms_translation.file_visitor, alias: ez_handlebars }

    ezsystems.platformui.translation.file_visitor.javascript:
        class: EzSystems\PlatformUIBundle\Translation\JavascriptFileVisitor
        arguments:
            - "@=service('kernel').locateResource('@eZPlatformUIBundle/bin/Translation/translation_dumper.js')"
        tags:
            - { name: jms_translation.file_visitor, alias: ez_javascript }

    ezsystems.platformui.pjax.request_matcher:
        class: "%ezsystems.platformui.pjax.request_matcher.class%"

    ezsystems.platformui.translation.file_visitor.php_notification:
        parent: jms_translation.extractor.file.default_php_extractor
        class: EzSystems\PlatformUIBundle\Translation\PhpNotificationFileVisitor
        tags:
            - { name: jms_translation.file_visitor, alias: ez_php_notification }

    ezsystems.platformui.view_matcher.pjax_request:
            class: "%ezsystems.platformui.view_matcher.pjax_request.class%"
            calls:
                - [setRequestStack, ['@request_stack']]
                - [setPjaxRequestMatcher, ['@ezsystems.platformui.pjax.request_matcher']]
