parameters:
    ezsystems.platformui.twig.yui_extension.class: EzSystems\PlatformUIBundle\Twig\TwigYuiExtension
    ezsystems.platformui.controller.class: EzSystems\PlatformUIBundle\Controller\PlatformUIController
    ezsystems.platformui.controller.dashboard.class: EzSystems\PlatformUIBundle\Controller\DashboardController
    ezsystems.platformui.helper.systeminfo.class: EzSystems\PlatformUIBundle\Helper\SystemInfoHelper
    ezsystems.platformui.controller.systeminfo.class: EzSystems\PlatformUIBundle\Controller\SystemInfoController
    ezsystems.platformui.helper.section.class: EzSystems\PlatformUIBundle\Helper\SectionHelper
    ezsystems.platformui.controller.section.class: EzSystems\PlatformUIBundle\Controller\SectionController
    ezsystems.platformui.controller.template.class: EzSystems\PlatformUIBundle\Controller\TemplateController
    ezsystems.platformui.form.type.section.class: EzSystems\PlatformUIBundle\Form\Type\SectionType
    ezsystems.platformui.form.type.section_delete.class: EzSystems\PlatformUIBundle\Form\Type\SectionDeleteType
    ezsystems.platformui.form.type.section_list.class: EzSystems\PlatformUIBundle\Form\Type\SectionListType
    ezsystems.platformui.controller.pjax.class: EzSystems\PlatformUIBundle\Controller\PjaxController
    ezsystems.platformui.controller.content_type.class: EzSystems\PlatformUIBundle\Controller\ContentTypeController
    ezsystems.platforui.notification_pool.class: EzSystems\PlatformUIBundle\Notification\NotificationPool
    ezsystems.platformui.form_processor.content_type.class: EzSystems\PlatformUIBundle\Form\Processor\ContentTypeFormProcessor

services:
    ezsystems.platformui.twig.yui_extension:
        class: %ezsystems.platformui.twig.yui_extension.class%
        arguments: [@ezpublish.config.resolver, @router, @?logger]
        tags:
            - { name: twig.extension }

    ezsystems.platformui.controller:
        class: %ezsystems.platformui.controller.class%
        arguments:
            - %ezpublish.fieldType.ezcountry.data%
            - @session
            - @security.csrf.token_manager
            - %ezpublish_rest.csrf_token_intention%
            - $anonymous_user_id$
        parent: ezpublish.controller.base

    ezsystems.platformui.controller.template:
        class: %ezsystems.platformui.controller.template.class%
        arguments: [@ezpublish.config.resolver]
        parent: ezpublish.controller.base

    ezsystems.platformui.controller.dashboard:
        class: %ezsystems.platformui.controller.dashboard.class%
        parent: ezpublish.controller.base

    ezsystems.platformui.helper.systeminfo:
        class: %ezsystems.platformui.helper.systeminfo.class%
        arguments:
            - @database_connection
            - %kernel.bundles%

    ezsystems.platformui.controller.systeminfo:
        class: %ezsystems.platformui.controller.systeminfo.class%
        arguments:
            - @ezsystems.platformui.helper.systeminfo
        parent: ezpublish.controller.base

    ezsystems.platformui.controller.pjax:
        class: %ezsystems.platformui.controller.pjax.class%
        parent: ezpublish.controller.base

    ## Section related services
    ezsystems.platformui.controller.section:
        class: %ezsystems.platformui.controller.section.class%
        arguments:
            - @ezsystems.platformui.helper.section
            - @ezsystems.platformui.form.type.section
            - @router
            - @translator
            - @ezsystems.platformui.form.type.section_list
            - @ezpublish.api.service.section
            - @ezsystems.platformui.form.type.section_delete
        parent: ezpublish.controller.base

    ezsystems.platformui.helper.section:
        class: %ezsystems.platformui.helper.section.class%
        arguments:
            - @ezpublish.api.service.section
            - @security.authorization_checker

    ezsystems.platformui.form.type.section:
        class: %ezsystems.platformui.form.type.section.class%
        tags:
            - { name: form.section, alias: section }
        arguments:
            - @translator

    ezsystems.platformui.form.type.section_delete:
        class: %ezsystems.platformui.form.type.section_delete.class%
        tags:
            - { name: form.section, alias: section_delete }
        arguments:
            - @translator

    ezsystems.platformui.form.type.section_list:
        class: %ezsystems.platformui.form.type.section_list.class%
        tags:
            - { name: form.section, alias: section_list }
        arguments:
            - @ezsystems.platformui.helper.section
            - @translator

    ezsystems.platformui.controller.content_type:
        class: %ezsystems.platformui.controller.content_type.class%
        parent: ezpublish.controller.base
        arguments:
            - @ezpublish.api.service.content_type
            - @ezpublish.api.service.search
            - @ezpublish.api.service.user
            - @ezrepoforms.action_dispatcher.content_type
            - @ezrepoforms.field_type_form_mapper.registry
        calls:
            - [setPrioritizedLanguages, ["$languages$"]]

    ezsystems.platformui.notification_pool:
        class: %ezsystems.platforui.notification_pool.class%
        arguments: [@translator, @session]
        tags:
            - { name: kernel.event_subscriber }

    ezsystems.platformui.form_processor.content_type:
        class: %ezsystems.platformui.form_processor.content_type.class%
        arguments: [@router, @ezsystems.platformui.notification_pool, @ezpublish.api.service.content_type]
        tags:
            - { name: kernel.event_subscriber }
