parameters:
    ezsystems.platformui.twig.yui_extension.class: EzSystems\PlatformUIBundle\Twig\TwigYuiExtension
    ezsystems.platformui.controller.dashboard.class: EzSystems\PlatformUIBundle\Controller\DashboardController
    ezsystems.platformui.helper.systeminfo.class: EzSystems\PlatformUIBundle\Helper\SystemInfoHelper
    ezsystems.platformui.controller.systeminfo.class: EzSystems\PlatformUIBundle\Controller\SystemInfoController
    ezsystems.platformui.helper.section.class: EzSystems\PlatformUIBundle\Helper\SectionHelper
    ezsystems.platformui.controller.section.class: EzSystems\PlatformUIBundle\Controller\SectionController
    ezsystems.platformui.controller.template.class: EzSystems\PlatformUIBundle\Controller\TemplateController
    ezsystems.platformui.form.type.section.class: EzSystems\PlatformUIBundle\Form\Type\SectionType
    ezsystems.platformui.controller.pjax.class: EzSystems\PlatformUIBundle\Controller\PjaxController

services:
    ezsystems.platformui.twig.yui_extension:
        class: %ezsystems.platformui.twig.yui_extension.class%
        arguments: [@ezpublish.config.resolver, @router, @?logger]
        tags:
            - { name: twig.extension }

    ezsystems.platformui.controller.template:
        class: %ezsystems.platformui.controller.template.class%
        arguments: [@ezpublish.config.resolver]
        parent: ezpublish.controller.base

    ezsystems.platformui.controller.dashboard:
        class: %ezsystems.platformui.controller.dashboard.class%
        parent: ezpublish.controller.base

    ezsystems.platformui.helper.systeminfo:
        class: %ezsystems.platformui.helper.systeminfo.class%
        arguments:
            - @ezpublish_legacy.kernel
            - @database_connection
            - %kernel.bundles%

    ezsystems.platformui.controller.systeminfo:
        class: %ezsystems.platformui.controller.systeminfo.class%
        arguments:
            - @ezsystems.platformui.helper.systeminfo
        parent: ezpublish.controller.base

    ezsystems.platformui.controller.pjax:
        class: %ezsystems.platformui.controller.pjax.class%
        parent: ezpublish.controller.base

    ## Section related services
    ezsystems.platformui.controller.section:
        class: %ezsystems.platformui.controller.section.class%
        arguments:
            - @ezsystems.platformui.helper.section
            - @ezsystems.platformui.form.type.section
            - @router
            - @translator
            - @session
        parent: ezpublish.controller.base

    ezsystems.platformui.helper.section:
        class: %ezsystems.platformui.helper.section.class%
        arguments:
            - @ezpublish.api.service.section
            - @security.context

    ezsystems.platformui.form.type.section:
        class: %ezsystems.platformui.form.type.section.class%
        tags:
            - { name: form.section, alias: section }
