<!doctype html>
<html>
<head>
<title>eZ Confirm Box View Service tests</title>
</head>
<body>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-confirmboxviewservice-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-confirmboxviewservice'],
        filter: loaderFilter,
        modules: {
            "ez-confirmboxviewservice": {
                requires: ['ez-viewservice', 'ez-sideviewservice'],
                fullpath: "../../../../Resources/public/js/views/services/ez-confirmboxviewservice.js"
            },
            "ez-sideviewservice": {
                requires: ['base'],
                fullpath: "../../../../Resources/public/js/extensions/ez-sideviewservice.js"
            },
            "ez-viewservice": {
                requires: ['view'],
                fullpath: "../../../../Resources/public/js/views/services/ez-viewservice.js"
            },
        }
    }).use('ez-confirmboxviewservice-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
