<!doctype html>
<html>
<head>
<title>eZ Notification Hub View Service tests</title>
</head>
<body>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-notificationhubviewservice-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-notificationhubviewservice'],
        filter: loaderFilter,
        modules: {
            "ez-notificationhubviewservice": {
                requires: ['ez-viewservice', 'ez-sideviewservice', 'ez-notificationlist'],
                fullpath: "../../../../Resources/public/js/views/services/ez-notificationhubviewservice.js"
            },
            "ez-sideviewservice": {
                requires: ['base'],
                fullpath: "../../../../Resources/public/js/extensions/ez-sideviewservice.js"
            },
            "ez-viewservice": {
                requires: ['view'],
                fullpath: "../../../../Resources/public/js/views/services/ez-viewservice.js"
            },
            "ez-notificationlist": {
                requires: ['model-list', 'ez-notification'],
                fullpath: "../../../../Resources/public/js/models/structs/ez-notificationlist.js"
            },
            "ez-notification": {
                requires: ['model'],
                fullpath: "../../../../Resources/public/js/models/structs/ez-notification.js"
            },
        }
    }).use('ez-notificationhubviewservice-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
