.ez-fieldview-ezgmaplocation .gm-style .ez-maplocation-data {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-fieldview-ezgmaplocation .ez-maplocation-message {
    opacity: 0;
    -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
}

.ez-fieldview-ezgmaplocation.is-maplocationview-loading .ez-maplocation-message {
    opacity: 1;
    color: #777;
    font-style: italic;
}

.ez-fieldview-ezgmaplocation.is-maplocationview-loading-failed .ez-maplocation-message {
    opacity: 1;
    color: #BF3E33;
}
