.ez-fieldview-ezobjectrelation .ez-relation-loading {
    color: #888;
    font-style: italic;
}

.ez-fieldview-ezobjectrelation .ez-relation-loading:before {
    display: inline-block;
    -webkit-animation: spin 0.7s infinite linear;
       -moz-animation: spin 0.7s infinite linear;
         -o-animation: spin 0.7s infinite linear;
            animation: spin 0.7s infinite linear;
    content: "\E61c";
    padding: 0 0.2em;
}

.ez-fieldview-ezobjectrelation .ez-relation-retry:before {
    content: "\E60f";
}

.ez-fieldview-ezobjectrelation .ez-relation-error {
    color: #BF3E33;
    font-style: italic;
}

.ez-fieldview-ezobjectrelation .ez-relation-error:before {
    content: "\E61b";
    font-style: normal;
    padding-right: 0.2em;
}
