/api/
Tests/report/
*-coverage.js
Tests/instrument/
Tests/js/alloyeditor/toolbars/assets/*.js
Tests/js/alloyeditor/buttons/assets/*.js
node_modules/
Resources/public/vendors/
/vendor/
composer.lock
.php_cs.cache

