language: node_js
node_js:
    - "0.10"
env:
    - CODE="php"
      BEFORE_GLOBAL="sudo ./bin/travis/setupphp.sh"
      BEFORE_LOCAL="./bin/travis/composer.sh"
      TEST_CMD="./vendor/phpunit/phpunit/phpunit -c phpunit.xml"
    - CODE="js"
      BEFORE_GLOBAL="npm install -g grunt-cli grover bower"
      BEFORE_LOCAL="./bin/travis/localjsdeps.sh"
      TEST_CMD="grunt test"

# test only master (+ Pull requests)
branches:
    only:
        - master

before_script:
    - $BEFORE_GLOBAL
    - $BEFORE_LOCAL

script: $TEST_CMD
