{% extends "eZPlatformUIBundle::pjax.html.twig" %}

{% block content %}
    <h1>Administration dashboard</h1>

    <p>This is the admin dashboard</p>
{% endblock %}

{% block title %}Administration dashboard{% endblock %}
