{% extends "eZPlatformUIBundle::pjax.html.twig" %}

{% block content %}
    <header class="ez-page-header">
        <h1 class="ez-page-header-name" data-icon="&#xe618;">Administration dashboard</h1>
    </header>
    <section class="ez-serverside-content">
        <ul>
            <li><a href="pjax/systeminfo">System information</a></li>
        </ul>
    </section>
{% endblock %}

{% block title %}Administration dashboard{% endblock %}
