@font-face {
    font-family: 'ez-platformui-icomoon';
    src:url('../bundles/ezplatformui/fonts/icomoon.eot');
    src:url('../bundles/ezplatformui/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../bundles/ezplatformui/fonts/icomoon.woff') format('woff'),
        url('../bundles/ezplatformui/fonts/icomoon.ttf') format('truetype'),
        url('../bundles/ezplatformui/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ez-platformui-app-page body {
    background: #333;
}

.ez-platformui-app {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-platformui-app .pure-g [class *= "pure-u"],
.ez-platformui-app .pure-g-r [class *= "pure-u"],
.ez-platformui-app button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-platformui-app a {
    text-decoration: none;
    color: #009;
}

.ez-platformui-app h1,
.ez-platformui-app h2,
.ez-platformui-app h3,
.ez-platformui-app h4,
.ez-platformui-app h5,
.ez-platformui-app h6 {
    font-weight: 500;
}

.ez-platformui-app input[type=text],
.ez-platformui-app input[type=email],
.ez-platformui-app input[type=number],
.ez-platformui-app input[type=search],
.ez-platformui-app input[type=password],
.ez-platformui-app textarea {
    line-height: 1.8em;
    height: 1.8em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-platformui-app input[type=text]:focus,
.ez-platformui-app input[type=email]:focus,
.ez-platformui-app input[type=number]:focus,
.ez-platformui-app input[type=search]:focus,
.ez-platformui-app input[type=password]:focus,
.ez-platformui-app textarea:focus {
    -webkit-box-shadow: inset 0 0 6px #ccc;
       -moz-box-shadow: inset 0 0 6px #ccc;
        -ms-box-shadow: inset 0 0 6px #ccc;
         -o-box-shadow: inset 0 0 6px #ccc;
            box-shadow: inset 0 0 6px #ccc;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
}

.ez-platformui-app .is-error .ez-validated-input {
    border: 1px solid #BF3E33;
    box-shadow: none;
    background: #FEECEA;
}

.ez-platformui-app .is-error .ez-validated-input:focus {
    border: 1px solid #BF3E33;
    box-shadow: none;
    background: #FEECEA;
    outline: none;
    -webkit-box-shadow: inset 0 0 6px #e76;
       -moz-box-shadow: inset 0 0 6px #e76;
        -ms-box-shadow: inset 0 0 6px #e76;
         -o-box-shadow: inset 0 0 6px #e76;
            box-shadow: inset 0 0 6px #e76;
}

.ez-platformui-app .ez-view-contenteditformview .pure-button {
    border: 1px solid #ccc;
}

.ez-view-container {
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.is-app-loading .ez-view-container {
    opacity: 0.6;
}

.ez-view-container:before {
    opacity: 0;
}

.is-app-loading .ez-view-container:before {
    -webkit-animation: spin 0.5s infinite linear;
       -moz-animation: spin 0.5s infinite linear;
         -o-animation: spin 0.5s infinite linear;
            animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 2em;
    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.1);
    opacity: 1;
    z-index: 10000;
}

.ez-platformui-app .ez-inline-loader {
    -webkit-animation: spin 0.5s infinite linear;
       -moz-animation: spin 0.5s infinite linear;
         -o-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #ED9036 #ED9036 #ED9036 #fff;
    border-color: rgba(237, 144, 54, 0.28) rgba(237, 144, 54, 0.29) rgba(237, 144, 54, 0.29) rgba(237, 144, 54, 0.9);
}

.ez-menu-container {
    background: #333;
    color: #fff;
    margin-top: -1px; /* to align with the bottom border of the navigation hub */
}

.ez-mainviews,
.ez-menu-container,
.ez-navigation-container {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
