<!doctype html>
<html>
<head>
<title>eZ Content Type Edit Server Side view tests</title>
</head>
<body>

<div class="container">
    <input type="hidden" id="default_selection_item">
    <button data-universaldiscovery-title="Pick root with UD"
            class="ez-relation-pick-root-button"
            data-relation-root-input-selector="#default_selection_item"
            data-relation-selected-root-name-selector="#selected_item_name"
            >Select item</button>
    <div id="selected_item_name"></div>
</div>

<div class="container-selection">
    <div class="ezselection-settings">
        <ul class="ezselection-settings-option-list">
            <li class="ezselection-settings-option-value">
                <input type="checkbox" class="ezselection-settings-option-checkbox">
                <input type="text" value="Led Zeppelin">
            </li>
            <li class="ezselection-settings-option-value">
                <input type="checkbox" class="ezselection-settings-option-checkbox value-to-remove">
                <input type="text" value="Guns'n Roses">
            </li>
            <li class="ezselection-settings-option-value">
                <input type="checkbox" class="ezselection-settings-option-checkbox value-to-remove">
                <input type="text" value="Foo Fighters">
            </li>
            <li class="ezselection-settings-option-value">
                <input type="checkbox" class="ezselection-settings-option-checkbox">
                <input type="text" value="Foo Fighters">
            </li>
        </ul>
        <script type="text/template" class="ezselection-settings-option-value-prototype" data-ezselection-option-input-name="name__number__" data-ezselection-option-input-id="id__number__">
            <li class="ezselection-settings-option-value">
                <input type="checkbox" class="ezselection-settings-option-checkbox">
                <input type="text" value="Prototype" id="id__number__" name="name__number__">
            </li>
        </script>

        <div>
            <button type="button" class="ezselection-settings-option-add">Add</button>
            <button type="button" class="ezselection-settings-option-remove">Remove</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-contenttypeeditserversideview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-contenttypeeditserversideview'],
        filter: loaderFilter,
        modules: {
            "ez-contenttypeeditserversideview": {
                requires: ['ez-serversideview', 'event-tap'],
                fullpath: "../../../../Resources/public/js/views/serverside/ez-contenttypeeditserversideview.js"
            },
            "ez-serversideview": {
                requires: ['ez-view', 'ez-tabs', 'ez-selection-table', 'event-tap'],
                fullpath: "../../../../Resources/public/js/views/ez-serversideview.js"
            },
            "ez-tabs": {
                requires: ['node'],
                fullpath: "../../../../Resources/public/js/extensions/ez-tabs.js"
            },
            "ez-selection-table": {
                requires: ['node'],
                fullpath: "../../../../Resources/public/js/extensions/ez-selection-table.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-contenttypeeditserversideview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
