.ez-breadcrumbs-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5em;
}

.ez-breadcrumbs-list .ez-breadcrumbs-item {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.ez-breadcrumbs-list .ez-breadcrumbs-item:after {
    content: "/";
    padding: 0 0.1em 0 0.1em;
}

.ez-breadcrumbs-list .ez-breadcrumbs-item:last-of-type:after {
    content: "";
    padding: 0;
}
