.ez-breadcrumbs .ez-breadcrumbs-list {
    font-size: 90%;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5em;
}

.ez-breadcrumbs .ez-breadcrumbs-item {
    display: inline;
}

.ez-breadcrumbs .ez-breadcrumbs-item:after {
    content: "/";
    padding: 0 0.3em 0 0.5em;
}

.ez-breadcrumbs .ez-breadcrumbs-item:last-of-type:after {
    content: "";
    padding: 0;
}
