.ez-view-contenteditview {
    overflow: hidden;
    height: 100%;
}

.ez-view-contenteditview > .pure-g {
    height: 100%;
    padding-right: 230px;
}

.ez-view-contenteditview > .pure-g {
    height: 100%;
    padding-right: 230px;
}

.ez-view-contenteditview .ez-main-content {
    width: 100%;
}

.ez-view-contenteditview header {
    padding: 2em;
}

.ez-view-contenteditview .ez-view-close {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 90%;
    padding: 0.5em;
}

.ez-view-contenteditview .ez-view-close:after {
    font-size: 90%;
    padding-left: 0.5em;
}

.ez-view-contenteditview .ez-content-name {
    color: #222;
    margin: 0;
}

.ez-view-contenteditview .ez-content-name:before {
    padding-right: 0.3em;
}

.ez-view-contenteditview .ez-technical-infos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 80%;
}

.ez-view-contenteditview .ez-technical-infos li {
    display: inline-block;
}

.ez-view-contenteditview .ez-technical-infos li:after {
    content: " /";
}

.ez-view-contenteditview .ez-technical-infos li:last-child:after {
    content: "";
}

.ez-view-contenteditview .ez-editactionbar-container {
    width: 230px;
    margin-right: -230px;
}

.is-navigation-hidden .ez-view-contenteditview .ez-editactionbar-container {
    position: fixed;
    top: 0;
    z-index: 1025;
    height: 100%;
}
