<!doctype html>
<html>
<head>
<title>eZ Subitem Grid view tests</title>
</head>
<body>
<div class="container"></div>

<script type="text/x-handlebars-template" id="subitemgridview-ez-template">
    display count: <strong class="ez-subitemgrid-display-count"></strong>
    <button class="ez-subitemgrid-more" disabled>
        Show <span class="ez-subitemgrid-more-count">{{ limit }}</span>
    </button>
    <div class="ez-subitemgrid-content"></div>
</script>
<script type="text/x-handlebars-template" id="subitemgriditemview-ez-template">
    <p class="content">{{ content.id }}</p>
    <p class="location">{{ location.id }}</p>
    <p class="contentType">{{ contentType.id }}</p>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-subitemgridview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-subitemgridview'],
        filter: loaderFilter,
        modules: {
            "ez-subitemgridview": {
                requires: ['ez-subitembaseview', 'ez-asynchronousview', 'event-tap'],
                fullpath: "../../../../Resources/public/js/views/subitem/ez-subitemgridview.js"
            },
            "ez-subitembaseview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/subitem/ez-subitembaseview.js"
            },
            "ez-asynchronousview": {
                requires: ['view', 'event-tap'],
                fullpath: "../../../../Resources/public/js/extensions/ez-asynchronousview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-subitemgridview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
