<!doctype html>
<html>
<head>
<title>eZ Subitem List Item view tests</title>
</head>
<body>
<div class="container"></div>

<script type="text/x-handlebars-template" id="subitemlistitemview-ez-template">
{{#each properties}}
    {{#if rendered}}
        {{{ rendered }}}
    {{else}}
        <td class="{{ class }}">{{ value }}</td>
    {{/if}}
{{/each}}
</script>

<script type="text/x-handlebars-template" id="priority-tpl">
<td class="{{ property.class }}">
    <form class="ez-subitem-priority-form">
        <input
            class="ez-subitem-priority-input"
            type="text"
            readonly
            required
            pattern="^(\^+|-)?\d+$"
            value="{{ property.value }}">
            <button class="ez-subitem-priority-validate"></button>
            <button class="ez-subitem-priority-cancel"></button>
    </form>
</td>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-subitemlistitemview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-subitemlistitemview'],
        filter: loaderFilter,
        modules: {
            "ez-subitemlistitemview": {
                requires: ['ez-templatebasedview', 'ez-translateproperty', 'event-tap', 'event-valuechange', 'template'],
                fullpath: "../../../../Resources/public/js/views/subitem/ez-subitemlistitemview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-translateproperty": {
                requires: ['base', 'array-extras'],
                fullpath: "../../../../Resources/public/js/extensions/ez-translateproperty.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-subitemlistitemview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
