<h1>{{ location.contentInfo.name }} (Location #{{ location.id }})</h1>

<p>
<a href="{{ path('proto_draft_create', {contentId: location.contentInfo.id}) }}">Edit this content</a>
</p>

<ez-subitem parent-location-id="{{ location.id }}">
    Loading subitems...
</ez-subitem>
