<h1>{{ location.contentInfo.name }} (Location #{{ location.id }})</h1>

<p>
<a href="{{ path('proto_draft_create', {contentId: location.contentInfo.id}) }}">Edit this content</a>
</p>

{# using the REST id Location for now to not have to find a cheap and easy way
 # to get the REST id for the regular Location id, but at the some point, this will
 # have to be changed. This involves developping a new view service.
 # see app.renderView() call in WebComponent/ez-subitem.html.twig
 #}
<ez-subitem parent-location-id="{{ path( 'ezpublish_rest_loadLocation', {'locationPath': location.pathString|trim('/')} ) }}">
    Loading subitems...
</ez-subitem>
