{% verbatim %}
<form class="ez-form-content">
    {{#each fieldGroups}}
        <fieldset class="ez-fieldgroup ez-fieldgroup-{{ fieldGroupName }}">
            <legend class="fieldgroup-name font-icon">{{fieldGroupName}}</legend>
            <div class="fieldgroup-fields"></div>
        </fieldset>
    {{/each}}
</form>
{% endverbatim %}
