<!doctype html>
<html>
<head>
    <title>eZ Keyword view tests</title>
</head>
<body>

<script type="text/x-handlebars-template" id="keywordview-ez-template">template</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="../assets/genericfieldview-tests.js"></script>
<script type="text/javascript" src="./assets/ez-keyword-view-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-keyword-view'],
        filter: loaderFilter,
        modules: {
            "ez-keyword-view": {
                requires: ['ez-fieldview'],
                fullpath: "../../../../Resources/public/js/views/fields/ez-keyword-view.js"
            },
            "ez-fieldview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-fieldview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-keyword-view-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
