<!doctype html>
<html>
<head>
    <title>eZ Relation Edit view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="relationeditview-ez-template">

    <p class="ez-editfield-error-message"></p>
    <button class="ez-asynchronousview-retry">Retry</button>
    <button class="ez-relation-discover ez-button font-icon pure-button">Select a relation</button>
    <button class="ez-relation-remove ez-button font-icon pure-button">Remove relation</button>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/editviewregister-tests.js"></script>
<script type="text/javascript" src="./assets/getfield-tests.js"></script>
<script type="text/javascript" src="./assets/ez-relation-editview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-relation-editview'],
        filter: loaderFilter,
        modules: {
            "ez-relation-editview": {
                requires: ['ez-fieldeditview', 'ez-asynchronousview'],
                fullpath: "../../../../Resources/public/js/views/fields/ez-relation-editview.js"
            },
            "ez-asynchronousview": {
                requires: ['view', 'event-tap'],
                fullpath: "../../../../Resources/public/js/extensions/ez-asynchronousview.js"
            },
            "ez-fieldeditview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-fieldeditview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-relation-editview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
