<!doctype html>
<html>
<head>
<title>eZ Selection Edit view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="selectioneditview-ez-template">
<div class="ez-selection-input-ui">
    <ul class="ez-selection-values">{{#each selected}}<li class="ez-selection-value" data-text="{{ . }}">{{ . }}</li>{{/each}}</ul>
    <div class="ez-selection-list">
        <input type="text" class="ez-selection-filter-input">
        <ul class="ez-selection-options"></ul>
    </div>
</div>
<p class="ez-editfield-error-message"></p>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/editviewregister-tests.js"></script>
<script type="text/javascript" src="./assets/getfield-tests.js"></script>
<script type="text/javascript" src="./assets/ez-selection-editview-tests.js"></script>
<script type="text/javascript" src="../../assets/ez-translator.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-selection-editview'],
        filter: loaderFilter,
        modules: {
            "ez-selection-editview": {
                requires: ['ez-fieldeditview', 'ez-selectionfilterview', 'event-tap', 'event-outside', 'node-screen', 'ez-translator'],
                fullpath: "../../../../Resources/public/js/views/fields/ez-selection-editview.js"
            },
            "ez-fieldeditview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-fieldeditview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-selectionfilterview": {
                requires: ['autocomplete-base', 'autocomplete-highlighters', 'autocomplete-filters', 'event-tap', 'view'],
                fullpath: "../../../../Resources/public/js/views/ez-selectionfilterview.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-selection-editview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
