<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Universal Discovery Confirmed List view tests</title>
</head>
<body>
<div class="container"></div>
<div class="outside"></div>
<div class="ez-confirmbox-container">
    <div class="confirm"></div>
</div>
<script type="text/x-handlebars-template" id="universaldiscoveryconfirmedlistview-ez-template">
    <div class="ez-ud-mini-display-list">Mini list</div>
    <button class="ez-ud-full-list-item-remove" data-content-id="42"></button>
    <a href="#" class="ez-ud-full-list-close">Close</a>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-universaldiscoveryconfirmedlistview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-universaldiscoveryconfirmedlistview'],
        filter: loaderFilter,
        modules: {
            "ez-universaldiscoveryconfirmedlistview": {
                requires: ['ez-templatebasedview', 'event-tap', 'event-outside'],
                fullpath: "../../../../Resources/public/js/views/universaldiscovery/ez-universaldiscoveryconfirmedlistview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-universaldiscoveryconfirmedlistview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
