<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Button Action view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="buttonactionview-ez-template">
<button class="{{#if actionId}}action-trigger{{/if}}" data-action="{{ actionId }}">
    {{ label }}
</button>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/genericbuttonactionview-tests.js"></script>
<script type="text/javascript" src="./assets/ez-buttonactionview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }


    YUI({
        coverage: ['ez-buttonactionview'],
        filter: loaderFilter,
        modules: {
            "ez-buttonactionview": {
                requires: ['ez-templatebasedview', 'event-tap'],
                fullpath: "../../../../Resources/public/js/views/actions/ez-buttonactionview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-buttonactionview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
