<!doctype html>
<html>
<head>
<title>eZ Preview Action view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="previewactionview-ez-template">
    <div class="action {{#if disabled}}is-disabled{{/if}}" data-action="{{ actionId }}">
        <div class="font-icon action-icon">
            <p class="action-label {{#if hint}}with-hint{{/if}}">{{ label }}</p>
            {{#if hint}}
            <p class="action-hint">{{ hint }}</p>
            {{/if}}
            <menu class="preview-modes">
                {{#each buttons}}
                <button class="preview-mode-button action-trigger font-icon" data-action="{{ ../actionId }}" {{#if option}}data-action-option="{{ option }}"{{/if}} ></button>
                {{/each}}
            </menu>
        </div>
        <div class="ez-editpreviewview-container is-hidden"></div>
    </div>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/genericbuttonactionview-tests.js"></script>
<script type="text/javascript" src="./assets/ez-previewactionview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-previewactionview'],
        filter: loaderFilter,
        modules: {
            "ez-previewactionview": {
                requires: ['ez-buttonactionview', 'ez-editpreviewview', 'node-screen'],
                fullpath: "../../../../Resources/public/js/views/actions/ez-previewactionview.js"
            },
            "ez-editpreviewview": {
                requires: ['ez-templatebasedview', 'transition', 'event-tap'],
                fullpath: "../../../../Resources/public/js/views/ez-editpreviewview.js"
            },
            "ez-buttonactionview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/actions/ez-buttonactionview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-previewactionview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
