<!doctype html>
<html>
<head>
<title>eZ Preview Action view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="previewactionview-ez-template">
    <button class="action {{#if disabled}}is-disabled{{else}}{{#if action}}action-trigger{{/if}}{{/if}}" data-action="{{ actionId }}">
        <div class="font-icon action-icon">
            <p class="action-label {{#if hint}}with-hint{{/if}}">{{ label }}</p>
            {{#if hint}}
            <p class="action-hint">{{ hint }}</p>
            {{/if}}
            <div class="action-widget">
                {{#each buttons}}
                <span class="action-widget-button action-trigger font-icon" data-action="{{ ../actionId }}" {{#if option}}data-action-option="{{ option }}"{{/if}} ></span>
                {{/each}}
            </div>
        </div>
    </button>
</script>

<script type="text/javascript" src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-previewactionview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
            loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-previewactionview'],
        filter: loaderFilter,
        modules: {
            "ez-previewactionview": {
                requires: ['ez-buttonactionview'],
                fullpath: "../../../../Resources/public/js/views/actions/ez-previewactionview.js"
            },
            "ez-buttonactionview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/actions/ez-buttonactionview.js"
            },
            "ez-templatebasedview": {
                requires: ['view', 'handlebars'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            }
        }
    }).use('ez-previewactionview-tests', function (Y) {

        Y.Test.Runner.run();

    });
</script>
</body>
</html>
