<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Location View Versions Tab view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="locationviewversionstabview-ez-template">
    <button class="ez-asynchronousview-retry">Retry</button>

    <button class="ez-edit-draft-button"
            disabled="disabled">
        Edit Draft
    </button>

    <button class="ez-delete-draft-button"
            disabled="disabled">
        Delete selected draft
    </button>

    <button class="ez-delete-archived-button"
            disabled="disabled">
        Delete selected archived
    </button>

    <button class="ez-create-draft-from-archived-button"
            disabled="disabled">
        New draft based on selected version
    </button>
    <div>
        {{#each draftVersions}}
        <input type="checkbox"
               class="ez-version-checkbox ez-draft-version-checkbox"
               {{#if checked}}checked="checked"{{/if}}
               data-version-id="{{versionId}}">
       {{/each}}
    </div>
    <div>
        {{#each archivedVersions}}
        <input type="checkbox"
               class="ez-version-checkbox ez-archived-version-checkbox"
               {{#if checked}}checked="checked"{{/if}}
               data-version-id="{{versionId}}">
       {{/each}}
    </div>

</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-locationviewversionstabview-tests.js"></script>
<script type="text/javascript" src="../../views/services/assets/fake-models.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-locationviewversionstabview'],
        filter: loaderFilter,
        modules: {
            "ez-locationviewversionstabview": {
                requires: ['ez-locationviewtabview', 'ez-asynchronousview', 'array-extras', 'fake-models'],
                fullpath: "../../../../Resources/public/js/views/tabs/ez-locationviewversionstabview.js"
            },
            "ez-asynchronousview": {
                requires: ['view', 'event-tap'],
                fullpath: "../../../../Resources/public/js/extensions/ez-asynchronousview.js"
            },
            "ez-locationviewtabview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-locationviewtabview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-locationviewversionstabview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
