<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Location View Details Tab view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="locationviewdetailstabview-ez-template">
    <button class="ez-asynchronousview-retry">Retry</button>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-locationviewdetailstabview-tests.js"></script>
<script type="text/javascript" src="../../views/services/assets/fake-models.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-locationviewdetailstabview'],
        filter: loaderFilter,
        modules: {
            "ez-locationviewdetailstabview": {
                requires: ['ez-locationviewtabview', 'ez-asynchronousview', 'fake-models'],
                fullpath: "../../../../Resources/public/js/views/tabs/ez-locationviewdetailstabview.js"
            },
            "ez-asynchronousview": {
                requires: ['view', 'event-tap'],
                fullpath: "../../../../Resources/public/js/extensions/ez-asynchronousview.js"
            },
            "ez-locationviewtabview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-locationviewtabview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-locationviewdetailstabview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
