<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Location View View Tab view tests</title>
</head>
<body>

<script type="text/x-handlebars-template" id="locationviewviewtabview-ez-template">
    <div class="ez-rawcontentview-container"></div>
</script>

<script type="text/javascript" src="../../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-locationviewviewtabview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-locationviewviewtabview'],
        filter: loaderFilter,
        modules: {
            "ez-locationviewviewtabview": {
                requires: ['ez-locationviewtabview'],
                fullpath: "../../../../Resources/public/js/views/tabs/ez-locationviewviewtabview.js"
            },
            "ez-locationviewtabview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../../Resources/public/js/views/ez-locationviewtabview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-locationviewviewtabview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
