.ez-view-barview .ez-actions-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ez-view-barview .view-more-button {
    margin: 0.5em;
    padding: 0.5em 2em;
}

.ez-view-barview .is-hidden {
    display: none;
}

.ez-view-barview .view-more-actions.is-hidden {
    right: -230px;
    opacity: 0;
    display: block;
}

.ez-view-barview .view-more-actions {
    position: fixed;
    bottom: 0;
    width: 230px;
    right: 230px;
    z-index: 1015;
}

.ez-view-barview .ez-actions-list .ez-action.is-disabled {
    cursor: default;
}

.is-actionbar-minimized .ez-view-barview .view-more-actions.is-hidden {
    right: 4em;
}

.is-discoverybar-minimized .ez-menu-container .ez-view-barview .view-more-button,
.is-actionbar-minimized .ez-view-barview .view-more-button {
    padding: 0.5em 0;
}

.is-actionbar-minimized .ez-view-barview .view-more-actions {
    right: 4em;
}
