.ez-view-buttonactionview .ez-action {
    display: block;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    padding: 1em 0;
}

.ez-view-buttonactionview .ez-action .action-icon {
    padding-left: 20px;
}

.ez-view-buttonactionview .ez-action .action-icon:before {
    float: left;
}

.ez-view-buttonactionview .ez-action p {
    padding-left: 40px;
    margin: 0;
}

.ez-view-buttonactionview .ez-action.with-hint .action-icon {
    margin-bottom: -1em;
}

.ez-view-buttonactionview .ez-action.with-hint .action-label {
    position:relative;
    top: -0.8em;
}

.ez-view-buttonactionview .ez-action.with-hint .action-hint {
    position:relative;
    top: -0.8em;
}

.ez-view-buttonactionview .ez-action .action-label {
    display: block;
    margin-top: 2px;
    cursor: pointer;
}
