.ez-view-buttonactionview .ez-action {
    display: block;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    padding: 1em 1.2em;
}

.ez-view-buttonactionview .ez-action .action-icon:before {
    margin-right: 0.8em;
    float: left;
}

.ez-view-buttonactionview .with-hint .action-icon:before {
    margin-top: 0.2em;
}

.is-actionbar-minimized .ez-view-buttonactionview .active-actions .action-label,
.is-actionbar-minimized .ez-view-buttonactionview .active-actions .action-hint {
    display: none;
}
