.ez-view-contenteditformview {
    overflow: hidden;
}

.ez-view-contenteditformview .ez-form-content {
    padding: 2em;
}

.ez-view-contenteditformview .ez-form-content fieldset {
    margin-bottom: 20px;
    padding-top: 0.5em;
}

.ez-formview-fieldset-name {
    cursor: pointer;
    padding: 0 10px;
}