.ez-view-editactionbar .actions-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.ez-view-editactionbar .actions-list .action {
    padding: 15px 20px;
    cursor: pointer;
}

.ez-view-editactionbar .actions-list .action-icon{
    float: left;
    margin-right: 10px;
}

.ez-view-editactionbar .actions-list .wrapper{
    float: left;
}

.ez-view-editactionbar .actions-list .action-label{
    display: block;
    margin: 2px 0 0 0;
    cursor: pointer;
}
.ez-view-editactionbar .actions-list .action-label.with-hint{
    margin-top: -5px;
}

.ez-view-editactionbar .actions-list .action-hint{
    font-size: 12px;
}

.ez-view-editactionbar .actions-list .action-widget .action-button{
    float: left;
    background: #242328;
    color: white;
    font-size: 16px;
    padding: 8px;
    margin-right: 5px;
    margin-top: 10px;
}

.ez-view-editactionbar .actions-list .action-widget .action-button:hover{
    background: #486235;
}

.ez-view-editactionbar .actions-list .view-more {
    padding: 10px 20px;
    cursor: pointer;
}

.ez-view-editactionbar .view-more-actions {
    position: absolute;
    width: 230px;
    right: 230px;
    bottom: 0px;
    z-index: 1001;
    display: none;
}
.ez-view-editactionbar .view-more-actions.is-shown {
    display: block;
}

.ez-view-editactionbar .actions-list .action.is-disabled,
.ez-view-editactionbar .actions-list .action.is-disabled .action-label {
    cursor: default;
}
