.ez-view-editactionbarview .ez-actions-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ez-view-editactionbarview .view-more-button {
    margin: 0.5em;
    padding: 0.5em 2em;
}

.ez-view-editactionbarview .view-more-button.is-hidden {
    visibility: hidden;
}

.ez-view-editactionbarview .view-more-actions {
    position: fixed;
    bottom: 0;
    width: 230px;
    right: 230px;
    z-index: 1015;
}

.ez-view-editactionbarview .view-more-actions.is-hidden {
    right: -230px;
}

.ez-view-editactionbarview .ez-actions-list .ez-action.is-disabled,
.ez-view-editactionbarview .ez-actions-list .ez-action.is-disabled .action-label {
    cursor: default;
}
