.ez-view-editactionbarview .actions-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.ez-view-editactionbarview .view-more-button {
    margin: 0.5em;
    padding: 0.5em 2em;
    visibility: hidden;
}

.ez-view-editactionbarview .view-more-button.is-shown {
    visibility: visible;
}

.ez-view-editactionbarview .view-more-actions {
    position: fixed;
    bottom: 0;
    width: 230px;
    right: 230px;
    z-index: 1015;
    display: none;
}

.ez-view-editactionbarview .view-more-actions.is-shown {
    display: block;
}

.ez-view-editactionbarview .actions-list .action.is-disabled,
.ez-view-editactionbarview .actions-list .action.is-disabled .action-label {
    cursor: default;
}
