.ez-view-editpreview {
    height: 100%;
    overflow: hidden;
}

.ez-preview-content  {
    padding: 30px;
}

.ez-preview-content .preview-legend  {
    text-align: center;
}

.ez-preview-content .ez-preview-hide {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 90%;
    padding: 0.5em;
}

.ez-preview-content .preview-device {
    margin: 20px auto;
    overflow: hidden;
}

/* For now relating to images here, not in theme.css, since those are "service" images */
.ez-preview-content .preview-device.mobile {
    width: 322px;
    height: 478px;
    padding: 118px 30px 118px 31px;
    background: transparent url('/bundles/ezsystemseditorial/img/preview-mobile.png') top left no-repeat;
}

.ez-preview-content .preview-device.tablet {
    width: 872px;
    height: 1263px;
    padding: 119px 0 0 103px;
    background: transparent url('/bundles/ezsystemseditorial/img/preview-tablet.png') top left no-repeat;
}

.ez-preview-content .preview-device.desktop {
    width: 1024px;
    height: 700px;
    padding: 10px;
    background: transparent url('/bundles/ezsystemseditorial/img/preview-desktop.png') top left no-repeat;
}

.ez-preview-content .iframe-wrapper {
    position: relative;
    overflow: hidden;
}

.ez-preview-content .preview-device.tablet .iframe-wrapper {
    width: 769px;
}

.ez-preview-content .loader.is-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1011;
}

.ez-preview-content .preview-iframe {
    display: block;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}