.ez-view-emailaddresseditview input[type=email] {
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
}

.ez-view-emailaddresseditview .ez-emailaddress-input-ui {
    height: 1.8em;
    margin: 1em 2em;
}

.ez-view-emailaddresseditview .ez-emailaddress-input-ui:before {
    width: 2em;
    margin-left: -2em;
    display: inline-block;
    text-align: center;
    height: 1.8em;
    line-height: 1.8em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

}
