.ez-errorview-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1050;

    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition: -moz-transform 0.4s;
        -ms-transition: -ms-transform 0.4s;
         -o-transition: -o-transform 0.4s;
            transition: transform 0.4s;

    -webkit-transform-style: preserve-3d; /* increasing performance on mobile devices */
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.ez-errorview-container.is-hidden {
    width: 1000px;
    right: auto;
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

.ez-errorview-container .ez-error-content {
    height: 100%;
    padding: 5% 20%;
    text-align: center;
}

.ez-errorview-container .ez-error-dialog{
    padding: 2em;
}

.ez-errorview-container .ez-error-dialog button {
    padding: 2em;
    margin: 0.5em;
}