.ez-view-errorview {
    padding: 20%;
}
.ez-view-errorview .ez-error-content {
    padding: 2em;
    text-align: center;
}

.ez-error-content a {
    display: inline-block;
    font-size: 120%;
    padding: 2em;
    margin: 1em;
}
