.ez-editfield-row {
    padding-left: 200px;
}

.ez-editfield-infos {
    margin-left: -200px;
    width: 200px;
}

.ez-editfield-input-area {
    width: 100%;
}

.ez-editfield-input {
    margin: 1em 2em;
}

.ez-editfield-input:before {
    width: 2em;
    margin-left: -2em;
    display: inline-block;
    text-align: center;
    height: 1.8em;
    line-height: 1.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.ez-editfield-infos .ez-fielddefinition-name, .ez-editfield-infos .ez-editfield-error-message {
    margin: 0;
    padding: 0 0.2em 0 0;
}

.ez-editfield-infos label {
    padding: 1.5em 0.5em 0 0.5em;
    margin: 0;
    text-align: right;
    vertical-align: baseline;
    display: block;
}

.ez-editfield-infos .ez-editfield-i {
    display: inline-block;
    width: 2ex;
    height: 2ex;
    line-height: 2ex;
    text-align: center;
    float: left;
    margin-left: 0.5em;
}

.ez-editfield-infos .ez-editfield-i:hover {
    cursor: pointer;
}

.ez-editfield-infos .ez-editfield-error-message {
    line-height: 1.2em;
    min-height: 2.4em;
}
