[data-icon]:before {
    font-family: 'ez-editorial-icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

[data-icon-after]:after {
    font-family: 'ez-editorial-icomoon';
    content: attr(data-icon-after);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.font-icon:before, .font-icon:after {
    font-family: 'ez-editorial-icomoon';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*csslint vendor-prefix: false */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.ez-editorial-app a:hover {
    text-decoration: none;
}

.ez-editorial-app {
    position:absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;

    -webkit-transition: opacity 0.2s ease, left 0.3s ease;
       -moz-transition: opacity 0.2s ease, left 0.3s ease;
        -ms-transition: opacity 0.2s ease, left 0.3s ease;
         -o-transition: opacity 0.2s ease, left 0.3s ease;
            transition: opacity 0.2s ease, left 0.3s ease;
}

.ez-editorial-app p {
    line-height: 1.4em;
}

.ez-editorial-app header {
    min-height: 5em;
}

.is-app-open {
    left: 0;
    z-index: 1000;
    opacity: 1;
}

.is-app-open .ez-view-container {
    display: block;
    height: 100%;
}

.ez-view-container {
    display: none;
    width: 100%;
}

.is-discoverybar-minimized .ez-mainviews {
    padding-left: 4em;
}

.is-menu-hidden .ez-mainviews {
    padding-left: 0;
}

.is-menu-hidden .ez-menu-container {
    margin-left: 0;
    opacity: 0;

    -webkit-transform: translateX(-230px);
       -moz-transform: translateX(-230px);
        -ms-transform: translateX(-230px);
         -o-transform: translateX(-230px);
            transform: translateX(-230px);
}

.ez-mainviews {
    padding-left: 230px;
    height: 100%;
}

.is-discoverybar-minimized .ez-menu-container {
    width: 4em;
    margin-left: -4em;
}

.ez-menu-container {
    width: 230px;
    margin-left: -230px;
    height: 100%;
    position: fixed;
    top: 4em;
    z-index: 1015;
}

.is-navigation-hidden .ez-navigation-container {
    height: 0;
    opacity: 0;
}

.ez-navigation-container {
    height: 4em;
    width: 100%;
}

.is-app-loading .ez-view-container:before {
    display: block;
    content: " ";
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    width: 2em;
    height: 2em;
    font-size: 200%;
}
