/* application styles */
@font-face {
    font-family: 'ez-editorial-icomoon';
    src:url('../bundles/ezsystemseditorial/fonts/icomoon.eot');
    src:url('../bundles/ezsystemseditorial/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../bundles/ezsystemseditorial/fonts/icomoon.woff') format('woff'),
        url('../bundles/ezsystemseditorial/fonts/icomoon.ttf') format('truetype'),
        url('../bundles/ezsystemseditorial/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ez-editorial-app {
    font-size: 15px;
}

.ez-editorial-app input[type=text],
.ez-editorial-app input[type=email],
.ez-editorial-app input[type=search],
.ez-editorial-app input[type=password],
.ez-editorial-app textarea {
    line-height: 1.8em;
    height: 1.8em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-editorial-app input[type=text]:focus,
.ez-editorial-app input[type=email]:focus,
.ez-editorial-app input[type=search]:focus,
.ez-editorial-app input[type=password]:focus,
.ez-editorial-app textarea:focus {
    -webkit-box-shadow: inset 0 0 6px #ccc;
       -moz-box-shadow: inset 0 0 6px #ccc;
        -ms-box-shadow: inset 0 0 6px #ccc;
         -o-box-shadow: inset 0 0 6px #ccc;
            box-shadow: inset 0 0 6px #ccc;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
}

.ez-editorial-app .is-error input[type=text],
.ez-editorial-app .is-error input[type=email],
.ez-editorial-app .is-error input[type=search],
.ez-editorial-app .is-error input[type=password],
.ez-editorial-app .is-error textarea {
    border: 1px solid #BF3E33;
    outline: none;
    box-shadow: none;
    background: #FEECEA;
}

.ez-editorial-app h1,
.ez-editorial-app h2,
.ez-editorial-app h3,
.ez-editorial-app h4,
.ez-editorial-app h5,
.ez-editorial-app h5,
.ez-editorial-app {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.is-app-open {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}

.is-app-loading .ez-view-container:before {
    -moz-animation: spin 0.5s infinite linear;
    -o-animation: spin 0.5s infinite linear;
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 2em;
    border-width: 0.5em;
    border-style: solid;
    border-color: #aaa #aaa #aaa #fff;
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

/* content edit view */
.ez-view-contenteditview {
    color: #444;
}

.ez-view-contenteditview .ez-main-content {
    background: #f3f3f3;
    border-bottom-left-radius: 10px;
}

.ez-view-contenteditview header {
    background: #f3f3f3;
}

.ez-view-contenteditview .ez-view-close {
    color: #555;
}

.ez-view-contenteditview .ez-content-name {
    color: #222;
}

/* content edit form view */
.ez-view-contenteditformview .ez-fieldgroup {
    border: 0;
}

.ez-view-contenteditformview .fieldgroup-fields {
    border: 1px solid #CCCCCC;
}

.ez-view-contenteditformview .fieldgroup-name {
    background-color: #f9f9f9;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}

.ez-view-contenteditformview .fieldgroup-name:after {
    content: "\E002";
}

.ez-view-contenteditformview .is-collapsed .fieldgroup-name:after {
    content: "\E004";
}

/* field edit view */
.ez-editfield-infos {
    background: #FAFAFA;
    border-right: 1px solid #ccc;
    margin-left: -201px; /* 200 + 1 to compensate the border */
}

.ez-editfield-row {
    background: #FFF;
}

.ez-editfield-infos .ez-editfield-i {
    color: #fff;
    border-radius: 50%;
    background: #888;
    font-size: 80%;
    font-weight: bold;
}

.ez-editfield-infos .ez-fielddefinition-name {
    font-weight: bold;
}

.ez-editfield-input-area {
    background: #fff;
}

.ez-editfield-infos .ez-editfield-error-message {
    font-size: 85%;
    font-style: italic;
    color: #BF3E33;
    opacity: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.is-error .ez-editfield-infos .ez-editfield-error-message {
    opacity: 1;
}

.is-error .ez-fielddefinition-name {
    color: #BF3E33;
}

/* text line edit view */
.ez-view-textlineeditview .ez-textline-input-ui:before {
    content: "!";
    background: #BF3E33;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    border: 1px solid #BF3E33;
    border-left: 0;
    border-right: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-view-textlineeditview.is-error .ez-textline-input-ui:before {
    opacity: 1;
}

/* error view */
.ez-errorview-container .ez-error-dialog {
    background: #f3f3f3;
    border-radius: 10px;
}

.ez-errorview-container .ez-error-dialog h2 {
    font-size: 160%;
    border-bottom: 2px solid #bf3e33;
}}

/* edit action bar */
.ez-view-editactionbar .actions-list {
    background: #333333;
}
.ez-view-editactionbar .actions-list li {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #242424;
}

.ez-view-editactionbar .actions-list .action-icon {
    color: #e3e3e3;
    font-size: 22px;
    text-shadow: 0 2px 2px black;
}

.ez-view-editactionbar .actions-list .action-label{
    color: white;
}
.ez-view-editactionbar .actions-list .action:hover .action-icon, .ez-view-editactionbar .actions-list .action:hover .action-label{
    color: #d8fcff;
}

.ez-view-editactionbar .action.is-disabled .action-icon,
.ez-view-editactionbar .action.is-disabled .action-label,
.ez-view-editactionbar .action.is-disabled:hover .action-icon,
.ez-view-editactionbar .action.is-disabled:hover .action-label {
    color: grey;
}

.ez-view-editactionbar .actions-list .action-hint{
    color: #9eaa8f;
}

.ez-view-editactionbar .actions-list .action-widget .action-button {
    border-radius: 2px;
}

.ez-view-editactionbar .actions-list .action-widget .action-button:hover {
    color: #d8fcff;
}

.ez-view-editactionbar .actions-list .view-more {
    color: white;
}

.ez-view-editactionbar .actions-list .view-more:hover {
    color: #d8fcff;
}

.ez-view-editpreview {
    background: #f3f3f3;
}
.ez-preview-content .ez-preview-hide {
    color: #555;
}
.ez-preview-content .loader.is-loading {
    background: rgba(0, 0, 0, 0.8);
}