/* application styles */
@font-face {
    font-family: 'ez-editorial-icomoon';
    src:url('../bundles/ezeditorial/fonts/icomoon.eot');
    src:url('../bundles/ezeditorial/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../bundles/ezeditorial/fonts/icomoon.woff') format('woff'),
        url('../bundles/ezeditorial/fonts/icomoon.ttf') format('truetype'),
        url('../bundles/ezeditorial/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ez-editorial-app-page body {
    background: #333;
}

.ez-editorial-app {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-editorial-app .pure-g [class *= "pure-u"],
.ez-editorial-app .pure-g-r [class *= "pure-u"],
.ez-editorial-app button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-editorial-app a {
    text-decoration: none;
}

.ez-editorial-app h1,
.ez-editorial-app h2,
.ez-editorial-app h3,
.ez-editorial-app h4,
.ez-editorial-app h5,
.ez-editorial-app h6 {
    font-weight: 500;
}

.ez-editorial-app input[type=text],
.ez-editorial-app input[type=email],
.ez-editorial-app input[type=number],
.ez-editorial-app input[type=search],
.ez-editorial-app input[type=password],
.ez-editorial-app textarea {
    line-height: 1.8em;
    height: 1.8em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-editorial-app input[type=text]:focus,
.ez-editorial-app input[type=email]:focus,
.ez-editorial-app input[type=number]:focus,
.ez-editorial-app input[type=search]:focus,
.ez-editorial-app input[type=password]:focus,
.ez-editorial-app textarea:focus {
    -webkit-box-shadow: inset 0 0 6px #ccc;
       -moz-box-shadow: inset 0 0 6px #ccc;
        -ms-box-shadow: inset 0 0 6px #ccc;
         -o-box-shadow: inset 0 0 6px #ccc;
            box-shadow: inset 0 0 6px #ccc;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
}

.ez-editorial-app .is-error .ez-editfield-input input[type=text],
.ez-editorial-app .is-error .ez-editfield-input input[type=email],
.ez-editorial-app .is-error .ez-editfield-input input[type=number],
.ez-editorial-app .is-error .ez-editfield-input input[type=search],
.ez-editorial-app .is-error .ez-editfield-input input[type=password],
.ez-editorial-app .is-error .ez-editfield-input textarea {
    border: 1px solid #BF3E33;
    box-shadow: none;
    background: #FEECEA;
}

.ez-editorial-app .is-error .ez-editfield-input input[type=text]:focus,
.ez-editorial-app .is-error .ez-editfield-input input[type=email]:focus,
.ez-editorial-app .is-error .ez-editfield-input input[type=number]:focus,
.ez-editorial-app .is-error .ez-editfield-input input[type=search]:focus,
.ez-editorial-app .is-error .ez-editfield-input input[type=password]:focus,
.ez-editorial-app .is-error .ez-editfield-input textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 6px #e76;
       -moz-box-shadow: inset 0 0 6px #e76;
        -ms-box-shadow: inset 0 0 6px #e76;
         -o-box-shadow: inset 0 0 6px #e76;
            box-shadow: inset 0 0 6px #e76;
}

.ez-editorial-app .ez-view-contenteditformview .pure-button {
    border: 1px solid #ccc;
}

.ez-view-container {
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.is-app-loading .ez-view-container {
    opacity: 0.6;
}

.ez-view-container:before {
    opacity: 0;
}

.is-app-loading .ez-view-container:before {
    -webkit-animation: spin 0.5s infinite linear;
       -moz-animation: spin 0.5s infinite linear;
         -o-animation: spin 0.5s infinite linear;
            animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 2em;
    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.8) rgba(50, 50, 50, 0.1);
    opacity: 1;
    z-index: 10000;
}

.ez-editorial-app .ez-inline-loader {
    -webkit-animation: spin 0.5s infinite linear;
       -moz-animation: spin 0.5s infinite linear;
         -o-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #ED9036 #ED9036 #ED9036 #fff;
    border-color: rgba(237, 144, 54, 0.28) rgba(237, 144, 54, 0.29) rgba(237, 144, 54, 0.29) rgba(237, 144, 54, 0.9);
}

.ez-menu-container {
    background: #333;
    color: #fff;
    margin-top: -1px; /* to align with the bottom border of the navigation hub */
}

.ez-mainviews,
.ez-menu-container,
.ez-navigation-container {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

/* navigation hub */
.ez-view-navigationhubview {
    background: #fff;
    border-top: 4px solid #000;
}

.ez-view-navigationhubview .ez-zones-navigation {
    margin-bottom: -1px; /* for the highlight effect on the active zone */
}

.ez-view-navigationhubview .ez-zone {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.ez-view-navigationhubview .is-zone-active {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.ez-view-navigationhubview .ez-navigation {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #bbb;

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);

    background: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F5F5F5), color-stop(1, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:    -moz-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:     -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:      -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
    background-image:         linear-gradient(to top, #F5F5F5 0%, #FFFFFF 100%);
    font-size: 90%;
}

.ez-view-navigationhubview.is-navigation-fixed .ez-navigation {
    border-top: 4px solid #000;
}

.ez-view-navigationhubview .ez-zone:hover {
    cursor: pointer;
}

.ez-view-navigationhubview .ez-zone:before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    background: #528036;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    float: left;
    text-align: center;
    font-family: 'ez-editorial-icomoon';
    font-size: 150%;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 52em) {
    .ez-view-navigationhubview .ez-zone:before {
        font-size: 120%;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
    }
}

.ez-view-navigationhubview .ez-create-zone:before {
    content: "\E611";
}

.ez-view-navigationhubview .ez-optimize-zone:before {
    content: "\E612";
}

.ez-view-navigationhubview .ez-deliver-zone:before {
    content: "\E60D";
}

.ez-view-navigationhubview .ez-link a:after {
    padding-left: 0.5em;
    vertical-align: middle;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item,
.ez-view-navigationhubview .ez-zone-name {
    font-weight: bold;
    color: #333;
}

.ez-view-navigationhubview .ez-navigation .ez-logo {
    opacity: 0;
    visibility: visible;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.ez-view-navigationhubview.is-navigation-fixed .ez-navigation .ez-logo {
    opacity: 1;
    visibility: visible;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item {
    vertical-align: middle;
}

.ez-view-navigationhubview .ez-sub-menu-link > .ez-navigation-item:after {
    font-family: 'ez-editorial-icomoon';
    content: "\E602";
    color: #888;
    font-size: 90%;
}

.ez-view-navigationhubview .ez-sub-menu-link:hover {
    background: #fff;
}

.ez-view-navigationhubview .ez-sub-menu {
    display: block;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.1s ease;
       -moz-transition: -moz-transform 0.1s ease;
        -ms-transition: -ms-transform 0.1s ease;
         -o-transition: -o-transform 0.1s ease;
            transition: transform 0.1s ease;
}

.ez-view-navigationhubview .is-sub-menu-open .ez-sub-menu {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
}

.ez-view-navigationhubview .ez-sub-menu li:hover {
    background: #f0f0f0;
}

.ez-view-navigationhubview li {
    border-bottom: 3px solid transparent;
}

.ez-view-navigationhubview .ez-navigation-active {
    border-bottom: 3px solid #528036;
}

.ez-view-navigationhubview .ez-zone-hint {
    color: #777;
    font-size: 80%;
}

.ez-view-navigationhubview .ez-link a {
    color: #333;
    font-size: 85%;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

.ez-view-navigationhubview .ez-navigation .ez-navigation-item:hover,
.ez-view-navigationhubview .ez-link a:hover {
    color: #528036;
}

/* location view view */
.ez-locationview-content {
    background: #fff;
}

.ez-view-locationviewview .ez-actionbar-container {
    background: #333;
    margin-top: -1px; /* to align the action bar with bottom border of navigation hub */

    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-view-locationviewview header {
    background: #f5f4f2;
}

.ez-view-locationviewview .ez-breadcrumbs a {
    color: #528036;
}

.ez-view-locationviewview .ez-breadcrumbs a:hover {
    color: #444;
    text-decoration: underline;
}

.ez-view-locationviewview .ez-tabs-list {
    background: #f5f4f2;
    border-bottom: 1px solid #ccc;
}

.ez-view-locationviewview .ez-tabs-label a {
    font-weight: bold;
    color: #222;
}

.ez-view-locationviewview .ez-tabs-label a:hover {
    color: #528036;
}

.ez-view-locationviewview .ez-tabs-label.is-tab-selected a:hover {
    color: #222;
    cursor: default;
}

.ez-view-locationviewview .ez-tabs-list .ez-tabs-label {
    background: #f5f4f2;
    border: 1px solid #f5f4f2;
    border-top: 3px solid #f5f4f2;
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.ez-view-locationviewview .ez-tabs-list .is-tab-selected {
    background: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 3px solid #528036;
}

.ez-view-locationviewview .ez-tabs .ez-tabs-panel {
    display: none;
}

.ez-view-locationviewview .ez-tabs .ez-tabs-panel.is-tab-selected {
    display: block;

    -webkit-animation: fadeIn 0.3s;
       -moz-animation: fadeIn 0.3s;
         -o-animation: fadeIn 0.3s;
            animation: fadeIn 0.3s;
}

/* raw content view */
.ez-view-rawcontentview {
    border: 1px solid #ccc;
    background: #F5F4F2;
}

.ez-view-rawcontentview .ez-raw-content-title {
    background: #fff;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.ez-view-rawcontentview .ez-fieldgroups {
    overflow: hidden;
}

.ez-view-rawcontentview .ez-raw-content-title a:after,
.ez-view-rawcontentview .ez-fieldgroup-name a:after {
    display: inline-block;
    content: "\E602";
    font-family: 'ez-editorial-icomoon';
    color: #999;
    padding-left: 0.3em;
    vertical-align: bottom;
}

.ez-view-rawcontentview.is-raw-content-view-collapsed .ez-raw-content-title a:after,
.ez-view-rawcontentview .ez-fieldgroup-name.is-field-group-collapsed a:after {
    content: "\E604";
}

.ez-view-rawcontentview .ez-raw-content-title a,
.ez-view-rawcontentview .ez-fieldgroup-name a {
    color: #333;
}

.ez-view-rawcontentview .ez-raw-content-title a:hover,
.ez-view-rawcontentview .ez-fieldgroup-name a:hover {
    color: #528036;
}

.ez-view-rawcontentview .ez-fieldgroup {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ccc;
    overflow: hidden;
}

.ez-view-rawcontentview .ez-fieldgroup-name {
    height: 1.4em;
    font-size: 1em;
    font-weight: bold;
    background: #fafafa;
}

.ez-view-rawcontentview .ez-fieldview-value-content a {
    color: #009;
}

/* field view */
.ez-view-fieldview .ez-fieldview-row {
    padding-left: 161px; /* 140 +1 to compensate the border */
}

.ez-view-fieldview .ez-fieldview-label {
    background: #fafafa;
    color: #333;
    border-right: 1px solid #ccc;
    margin-left: -161px; /* 140 + 1 to compensate the border */
}

/* url field view */
.ez-fieldview-ezurl .ez-fieldview-value-content a:after {
    font-family: 'ez-editorial-icomoon';
    content: "\E610";
    padding-left: 0.3em;
    font-size: 90%;
}

/* content edit view */
.ez-view-contenteditview {
    color: #444;
}

.ez-view-contenteditview .ez-editactionbar-container {
    background: #333;
}

.ez-view-contenteditview .ez-main-content {
    background: #f3f3f3;
    border-bottom-left-radius: 10px;
}

.ez-view-contenteditview .ez-view-close {
    color: #555;
}

/* content edit form view */
.ez-view-contenteditformview .ez-fieldgroup {
    border: 0;
}

.ez-view-contenteditformview .fieldgroup-fields {
    border: 1px solid #CCCCCC;
}

.ez-view-contenteditformview .fieldgroup-name {
    background-color: #f9f9f9;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}

.ez-view-contenteditformview .fieldgroup-name:after {
    content: "\E602";
}

.ez-view-contenteditformview .is-collapsed .fieldgroup-name:after {
    content: "\E604";
}

/* field edit view */
.ez-editfield-infos {
    background: #FAFAFA;
    border-right: 1px solid #ccc;
    margin-left: -201px; /* 200 + 1 to compensate the border */
}

.ez-editfield-row {
    background: #FFF;
}

.ez-editfield-infos .ez-editfield-i {
    color: #fff;
    border-radius: 50%;
    background: #888;
    font-size: 80%;
    font-weight: bold;
}

.ez-editfield-infos .ez-fielddefinition-tooltip-text {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0  #ddd;
       -moz-box-shadow: 0 2px 4px 0  #ddd;
            box-shadow: 0 2px 4px 0  #ddd;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-weight: normal;
    font-size: 85%;
}

.ez-editfield-infos .ez-fielddefinition-tooltip-close {
    font-weight: bold;
    color: #999;
}

/* Tooltip tail styling */
.ez-editfield-infos .ez-tail-up-tooltip:before,
.ez-editfield-infos .ez-tail-down-tooltip:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.ez-editfield-infos .ez-tail-up-tooltip:before {
    margin-top:-5px;
    margin-left: 4px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.ez-editfield-infos .ez-tail-up-tooltip .ez-fielddefinition-tooltip-text {
    margin-top: -8px;
}

.ez-editfield-infos .ez-tail-down-tooltip:after {
    margin-top:-9px;
    margin-left: 4px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.ez-editfield-infos .ez-fielddefinition-name {
    font-weight: bold;
}

.ez-editfield-input-area {
    background: #fff;
}

/* field edit inputs errors handling */
.ez-editfield-infos .ez-editfield-error-message {
    font-size: 85%;
    font-style: italic;
    color: #BF3E33;
    opacity: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.is-error .ez-editfield-infos .ez-editfield-error-message {
    opacity: 1;
}

.is-error .ez-fielddefinition-name {
    color: #BF3E33;
}

.ez-default-error-style .ez-editfield-input:before {
    content: "!";
    background: #BF3E33;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    border: 1px solid #BF3E33;
    border-left: 0;
    border-right: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.is-error .ez-default-error-style .ez-editfield-input:before {
    opacity: 1;
}

/* error view */
.ez-errorview-container {
    background: #000;
    background: rgba(0, 0, 0, 0.4);
}

.ez-errorview-container .ez-error-dialog {
    background: #f3f3f3;
    border-radius: 10px;
}

.ez-errorview-container .ez-error-dialog h2 {
    font-size: 160%;
    border-bottom: 2px solid #bf3e33;
}

/* dashboard view */
.ez-view-dashboardview {
    /* for test purpose */
    padding: 2em 0 10em 0;
    background: #fff;
}

/* bar view */
.ez-view-barview .ez-actions-list {
    background: #333333;
}

.ez-view-barview .view-more-button {
    color: #808080;
    background: none;
    border: none;
}

.ez-view-barview .view-more-button:hover {
    color: #d8fcff;
}

.ez-view-barview .ez-actions-list .ez-action {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #242424;
}

.ez-view-barview .ez-actions-list .ez-action:last-child {
    -webkit-box-shadow: 0 1px 0 0 #424242;
       -moz-box-shadow: 0 1px 0 0 #424242;
            box-shadow: 0 1px 0 0 #424242;
}

.ez-view-barview .view-more-actions {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
    box-shadow: 7px 0 7px 0 rgba(0, 0, 0, 0.5);
}

.is-navigationhubview-fixed .ez-view-barview {
    top: calc(2.3rem + 4px); /* height of the navigation menu + borders */
}

/* discovery bar view */
.ez-view-discoverybarview {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.ez-view-discoverybarview .view-more-actions {
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
    box-shadow: -7px 0 7px 0 rgba(0, 0, 0, 0.5);
}

/* button action view */
.ez-view-buttonactionview .action-icon {
    color: #e3e3e3;
    font-size: 140%;
    text-shadow: 0 2px 2px #000;
}

.ez-view-buttonactionview .action-label {
    color: #fff;
    font-weight: bold;
    font-size: 70%;
}

.ez-view-buttonactionview .action-hint {
    color: #9eaa8f;
    font-size: 60%;
}

.ez-view-buttonactionview .is-disabled .action-icon,
.ez-view-buttonactionview .is-disabled .action-label,
.ez-view-buttonactionview .is-disabled .action-hint {
    color: #808080;
}

.ez-view-buttonactionview .action-label,
.ez-view-buttonactionview .action-hint {
    margin: 0;
    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.is-discoverybar-minimized .ez-view-discoverybarview .active-actions .ez-view-buttonactionview .action-label,
.is-discoverybar-minimized  .ez-view-discoverybarview .active-actions .ez-view-buttonactionview .action-hint,
.is-actionbar-minimized .active-actions .ez-view-buttonactionview .action-label,
.is-actionbar-minimized .active-actions .ez-view-buttonactionview .action-hint {
    display: block;
    font-size: 0;
    opacity: 0;
}

.ez-view-buttonactionview .ez-action .action-icon:before {
    content: "\E601";
}

.ez-view-buttonactionview .ez-action[data-action="edit"] .action-icon:before {
    content: "\E606";
}

.ez-view-buttonactionview .ez-action[data-action="minimizeActionBar"] .action-icon:before,
.ez-view-buttonactionview .ez-action[data-action="minimizeDiscoveryBar"] .action-icon:before {
    content: "\E60c";
}

.ez-view-buttonactionview .ez-action[data-action="publish"] .action-icon:before {
    content: "\E60d";
}

.ez-view-buttonactionview .ez-action[data-action="save"] .action-icon:before {
    content: "\E60e";
}

.ez-view-buttonactionview .ez-action[data-action="discard"] .action-icon:before {
    content: "\E600";
}

.ez-view-buttonactionview .ez-action[data-action="collaborate"] .action-icon:before {
    content: "\E60b";
}

.ez-view-buttonactionview .ez-action[data-action="preview"] .action-icon:before {
    content: "\E607";
}

.ez-view-buttonactionview .ez-action[data-action="preview"] .action-trigger[data-action-option="desktop"]:before {
    content: "\E608";
}

.ez-view-buttonactionview .ez-action[data-action="preview"] .action-trigger[data-action-option="tablet"]:before {
    content: "\E609";
}

.ez-view-buttonactionview .ez-action[data-action="preview"] .action-trigger[data-action-option="mobile"]:before {
    content: "\E60a";
}

/* preview action view */
.ez-view-previewactionview .preview-modes .preview-mode-button {
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 2px 1px #000;
       -moz-box-shadow: inset 1px 1px 2px 1px #000;
            box-shadow: inset 1px 1px 2px 1px #000;
    background: #232327;
    background: -webkit-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:    -moz-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:     -ms-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:      -o-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:         linear-gradient(90deg, #232327 0%, #26252a 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #232327), color-stop(100%, #26252a));
}

.ez-view-previewactionview .preview-modes .preview-mode-button:before {
    color: #fff;
    font-size: 90%;
    text-shadow: 0 2px 1px #000;
}

.ez-view-previewactionview .preview-modes .preview-mode-button:hover {
    background: #486235;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.ez-view-previewactionview .preview-modes .preview-mode-button.is-selected {
    background: #256213;
}

/* edit preview */
.ez-view-editpreviewview {
    background: #f3f3f3;
}

.ez-preview-content .ez-preview-hide {
    color: #555;
}

.ez-preview-content .ez-loader.is-loading {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}

.ez-preview-content .preview-device.mobile {
    width: 322px;
    height: 478px;
    padding: 118px 30px 118px 31px;
    background: transparent url('../bundles/ezeditorial/img/preview-mobile.png') top left no-repeat;
}

.ez-preview-content .preview-device.tablet {
    width: 872px;
    height: 1263px;
    padding: 119px 0 0 103px;
    background: transparent url('../bundles/ezeditorial/img/preview-tablet.png') top left no-repeat;
}

.ez-preview-content .preview-device.desktop {
    width: 1100px;
    height: 700px;
    border: 4px solid #a6a6a6;
    border-radius: 4px;
}

/* map location edit view */
.ez-view-maplocationeditview .ez-maplocation-map-container {
    border: 1px solid #ccc;
}

.ez-view-maplocationeditview .ez-maplocation-find-address-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.ez-view-maplocationeditview .ez-maplocation-coordinates {
    background-color: #f0f0f0;
}

.ez-view-maplocationeditview .ez-maplocation-errors,
.ez-view-maplocationeditview .ez-maplocation-locate-me-errors {
    color: #BF3E33;
}
