/* application styles */
@font-face {
    font-family: 'ez-editorial-icomoon';
    src:url('../bundles/ezeditorial/fonts/icomoon.eot');
    src:url('../bundles/ezeditorial/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../bundles/ezeditorial/fonts/icomoon.woff') format('woff'),
        url('../bundles/ezeditorial/fonts/icomoon.ttf') format('truetype'),
        url('../bundles/ezeditorial/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ez-editorial-app {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ez-editorial-app a {
    text-decoration: none;
}

.ez-editorial-app h1,
.ez-editorial-app h2,
.ez-editorial-app h3,
.ez-editorial-app h4,
.ez-editorial-app h5,
.ez-editorial-app h6 {
    font-weight: 500;
}

.ez-editorial-app input[type=text],
.ez-editorial-app input[type=email],
.ez-editorial-app input[type=number],
.ez-editorial-app input[type=search],
.ez-editorial-app input[type=password],
.ez-editorial-app textarea {
    line-height: 1.8em;
    height: 1.8em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.ez-editorial-app input[type=text]:focus,
.ez-editorial-app input[type=email]:focus,
.ez-editorial-app input[type=number]:focus,
.ez-editorial-app input[type=search]:focus,
.ez-editorial-app input[type=password]:focus,
.ez-editorial-app textarea:focus {
    -webkit-box-shadow: inset 0 0 6px #ccc;
       -moz-box-shadow: inset 0 0 6px #ccc;
        -ms-box-shadow: inset 0 0 6px #ccc;
         -o-box-shadow: inset 0 0 6px #ccc;
            box-shadow: inset 0 0 6px #ccc;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
}

.ez-editorial-app .is-error input[type=text],
.ez-editorial-app .is-error input[type=email],
.ez-editorial-app .is-error input[type=number],
.ez-editorial-app .is-error input[type=search],
.ez-editorial-app .is-error input[type=password],
.ez-editorial-app .is-error textarea {
    border: 1px solid #BF3E33;
    box-shadow: none;
    background: #FEECEA;
}

.ez-editorial-app .is-error input[type=text]:focus,
.ez-editorial-app .is-error input[type=email]:focus,
.ez-editorial-app .is-error input[type=number]:focus,
.ez-editorial-app .is-error input[type=search]:focus,
.ez-editorial-app .is-error input[type=password]:focus,
.ez-editorial-app .is-error textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 6px #e76;
       -moz-box-shadow: inset 0 0 6px #e76;
        -ms-box-shadow: inset 0 0 6px #e76;
         -o-box-shadow: inset 0 0 6px #e76;
            box-shadow: inset 0 0 6px #e76;
}

.is-app-open {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}

.is-app-loading .ez-view-container:before {
    -webkit-animation: spin 0.5s infinite linear;
       -moz-animation: spin 0.5s infinite linear;
         -o-animation: spin 0.5s infinite linear;
            animation: spin 0.5s infinite linear;
    box-sizing: border-box;
    border-radius: 2em;
    border-width: 0.5em;
    border-style: solid;
    border-color: #aaa #aaa #aaa #fff;
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

.ez-editorial-app .ez-button-loader {
    background: url('../bundles/ezeditorial/img/ajax-loader.gif');
}


/* location view view */
.ez-view-locationviewview {
    background: #f5f4f2;
}

.ez-view-locationviewview .ez-breadcrumbs a {
    color: #528036;
}

.ez-view-locationviewview .ez-breadcrumbs a:hover {
    color: #444;
    text-decoration: underline;
}

/* content edit view */
.ez-view-contenteditview {
    color: #444;
}

.ez-view-contenteditview .ez-main-content {
    background: #f3f3f3;
    border-bottom-left-radius: 10px;
}

.ez-view-contenteditview .ez-view-close {
    color: #555;
}

/* content edit form view */
.ez-view-contenteditformview .ez-fieldgroup {
    border: 0;
}

.ez-view-contenteditformview .fieldgroup-fields {
    border: 1px solid #CCCCCC;
}

.ez-view-contenteditformview .fieldgroup-name {
    background-color: #f9f9f9;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}

.ez-view-contenteditformview .fieldgroup-name:after {
    content: "\E002";
}

.ez-view-contenteditformview .is-collapsed .fieldgroup-name:after {
    content: "\E004";
}

/* field edit view */
.ez-editfield-infos {
    background: #FAFAFA;
    border-right: 1px solid #ccc;
    margin-left: -201px; /* 200 + 1 to compensate the border */
}

.ez-editfield-row {
    background: #FFF;
}

.ez-editfield-infos .ez-editfield-i {
    color: #fff;
    border-radius: 50%;
    background: #888;
    font-size: 80%;
    font-weight: bold;
}

.ez-editfield-infos .ez-fielddefinition-name {
    font-weight: bold;
}

.ez-editfield-input-area {
    background: #fff;
}

/* field edit inputs errors handling */
.ez-editfield-infos .ez-editfield-error-message {
    font-size: 85%;
    font-style: italic;
    color: #BF3E33;
    opacity: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.is-error .ez-editfield-infos .ez-editfield-error-message {
    opacity: 1;
}

.is-error .ez-fielddefinition-name {
    color: #BF3E33;
}

.ez-default-error-style .ez-editfield-input:before {
    content: "!";
    background: #BF3E33;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    border: 1px solid #BF3E33;
    border-left: 0;
    border-right: 0;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
}

.is-error .ez-default-error-style .ez-editfield-input:before {
    opacity: 1;
}

/* error view */
.ez-errorview-container {
    background: #000;
    background: rgba(0, 0, 0, 0.4);
}

.ez-errorview-container .ez-error-dialog {
    background: #f3f3f3;
    border-radius: 10px;
}

.ez-errorview-container .ez-error-dialog h2 {
    font-size: 160%;
    border-bottom: 2px solid #bf3e33;
}

/* edit action bar */
.ez-view-editactionbarview .ez-actions-list {
    background: #333333;
}

.ez-view-editactionbarview .view-more-button {
    color: #808080;
    background: none;
    border: none;
}

.ez-view-editactionbarview .view-more-button:hover {
    color: #d8fcff;
}

.ez-view-editactionbarview .ez-actions-list .ez-action {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #242424;
}

.ez-view-editactionbarview .ez-actions-list .ez-action:last-child {
    -webkit-box-shadow: 0 1px 0 0 #424242;
       -moz-box-shadow: 0 1px 0 0 #424242;
            box-shadow: 0 1px 0 0 #424242;
}

.ez-action .action-icon {
    color: #e3e3e3;
    font-size: 140%;
    text-shadow: 0 2px 2px #000;
}

.ez-action .action-label {
    color: #fff;
    font-weight: bold;
    font-size: 70%;
}

.ez-action .action-hint {
    color: #9eaa8f;
    font-size: 60%;
}

.ez-action.is-disabled .action-icon,
.ez-action.is-disabled .action-label,
.ez-action.is-disabled .action-hint {
    color: #808080;
}

/* default action icon */
.ez-action .action-icon:before {
    content: "\E001";
}

/* actual actions icons */
.ez-action[data-action="publish"] .action-icon:before {
    content: "\E00c";
}

.ez-action[data-action="save"] .action-icon:before {
    content: "\E00e";
}

.ez-action[data-action="discard"] .action-icon:before {
    content: "\E000";
}

.ez-action[data-action="collaborate"] .action-icon:before {
    content: "\E00b";
}

.ez-action[data-action="preview"] .action-icon:before {
    content: "\E007";
}

.ez-action[data-action="preview"] .action-trigger[data-action-option="desktop"]:before {
    content: "\E008";
}

.ez-action[data-action="preview"] .action-trigger[data-action-option="tablet"]:before {
    content: "\E009";
}

.ez-action[data-action="preview"] .action-trigger[data-action-option="mobile"]:before {
    content: "\E00a";
}

/* preview action view */
.ez-view-previewactionview .preview-modes .preview-mode-button {
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 2px 1px #000;
       -moz-box-shadow: inset 1px 1px 2px 1px #000;
            box-shadow: inset 1px 1px 2px 1px #000;
    background: #232327;
    background: -webkit-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:    -moz-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:     -ms-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:      -o-linear-gradient(90deg, #232327 0%, #26252a 100%);
    background:         linear-gradient(90deg, #232327 0%, #26252a 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #232327), color-stop(100%, #26252a));
}

.ez-view-previewactionview .preview-modes .preview-mode-button:before {
    color: #fff;
    font-size: 90%;
    text-shadow: 0 2px 1px #000;
}

.ez-view-previewactionview .preview-modes .preview-mode-button:hover {
    background: #486235;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.ez-view-previewactionview .preview-modes .preview-mode-button.is-selected {
    background: #256213;
}

/* edit preview */
.ez-view-editpreviewview {
    background: #f3f3f3;
}

.ez-preview-content .ez-preview-hide {
    color: #555;
}

.ez-preview-content .ez-loader.is-loading {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}

.ez-preview-content .preview-device.mobile {
    width: 322px;
    height: 478px;
    padding: 118px 30px 118px 31px;
    background: transparent url('../bundles/ezeditorial/img/preview-mobile.png') top left no-repeat;
}

.ez-preview-content .preview-device.tablet {
    width: 872px;
    height: 1263px;
    padding: 119px 0 0 103px;
    background: transparent url('../bundles/ezeditorial/img/preview-tablet.png') top left no-repeat;
}

.ez-preview-content .preview-device.desktop {
    width: 1100px;
    height: 700px;
    border: 4px solid #a6a6a6;
    border-radius: 4px;
}

/* map location edit view */
.ez-maplocation-widget .ez-maplocation-map-container {
    border: 1px solid #ccc;
}

.ez-maplocation-widget .ez-maplocation-find-address-button {
    border-left: none;
}

.ez-maplocation-widget .ez-maplocation-coordinates {
    background-color: #ddd;
}

.ez-maplocation-widget .ez-maplocation-coordinates span {
    font-weight: bold;
}

.ez-maplocation-widget .ez-maplocation-find-address-errors,
.ez-maplocation-widget .ez-maplocation-locate-me-errors {
    color: #BF3E33;
}
