<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>eZ Create Content Filter View tests</title>
</head>
<body>

<div class="container">
    <div class="content-type-groups">
        <div class="groups"></div>
    </div>
    <div class="content-types">
        <input type="text" class="autocomplete-filter" placeholder="start typing to refine list" />
        <ul class="autocomplete-list"></ul>
    </div>
</div>

<script type="text/javascript" src="../../../node_modules/yui/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-createcontentfilterview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
            loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-createcontentfilterview'],
        filter: loaderFilter,
        modules: {
            'ez-createcontentfilterview': {
                requires: ['ez-selectionfilterview', 'ez-templatebasedview'],
                fullpath: "../../../Resources/public/js/views/ez-createcontentfilterview.js"
            },
            "ez-selectionfilterview": {
                requires: ['autocomplete-base', 'autocomplete-highlighters', 'autocomplete-filters', 'event-tap', 'view'],
                fullpath: "../../../Resources/public/js/views/ez-selectionfilterview.js"
            },
            'ez-templatebasedview': {
                requires: ['ez-view', 'handlebars'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-createcontentfilterview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
