<!doctype html>
<html>
<head>
<title>eZ Content Edit Form View tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="contenteditformview-ez-template">
    <form class="ez-form-content">
        {{#each form.fieldGroups}}
        <fieldset>
            <legend class="fieldgroup-name" data-icon-after="&#xe002;">{{fieldGroupName}}</legend>
            <div class="fieldgroup-fields">
                FieldEditViews go here...<br/>
                and here...
            </div>
        </fieldset>
        {{/each}}
    </form>
</script>


<script type="text/javascript" src="http://yui.yahooapis.com/3.10.3/build/yui/yui.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw';

    YUI({
        coverage: ['ez-contenteditformview'],
        filter: filter,
        modules: {
            "ez-contenteditformview": {
                requires: ['ez-templatebasedview', 'transition', 'event-tap'],
                fullpath: "../../../Resources/public/js/views/ez-contenteditformview" + ( filter != 'raw' ? "-" + filter : "" ) + ".js"
            },
            "ez-templatebasedview": {
                requires: ['view', 'handlebars'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview" + ( filter != 'raw' ? "-" + filter : "" ) + ".js"
            }
        }
    }).use('test', 'event-tap', 'node-event-simulate', 'ez-contenteditformview', function (Y) {
        var container = Y.one('.container'),
            contentType;
            mockConf = {
                method: 'getFieldGroups',
                returns: []
            },
            GESTURE_MAP = Y.Event._GESTURE_MAP;

        contentType = new Y.Mock();
        Y.Mock.expect(contentType, mockConf);

        // trick to simulate a tap event
        // taken from https://github.com/yui/yui3/blob/master/src/event/tests/unit/assets/event-tap-functional-tests.js
        Y.Node.prototype.tap = function (startOpts, endOpts) {
            Y.Event.simulate(this._node, GESTURE_MAP.start, startOpts);
            Y.Event.simulate(this._node, GESTURE_MAP.end, endOpts);
        };
        Y.NodeList.importMethod(Y.Node.prototype, 'tap');

        viewTest = new Y.Test.Case({
            name: "eZ Content Edit Form View test",

            setUp: function () {
                this.view = new Y.eZ.ContentEditFormView({
                    container: container,
                    contentType: contentType
                });
            },

            tearDown: function () {
                this.view.destroy();
            },

            "Test render": function () {
                var templateCalled = false,
                    origTpl;

                origTpl = this.view.template;
                this.view.template = function () {
                    templateCalled = true;
                    return origTpl.apply(this, arguments);
                };
                this.view.render();
                Y.Assert.isTrue(templateCalled, "The template should have used to render the this.view");
                Y.Assert.areNotEqual("", container.getHTML(), "View container should contain the result of the this.view");
            },

            "Test available variable in template": function () {
                this.view.template = function (variables) {
                    Y.Assert.isObject(variables, "The template should receive some variables");
                    Y.Assert.areEqual(1, Y.Object.keys(variables).length, "The template should receive 1 variable");
                    Y.Assert.isObject(variables.fieldGroups, "fieldGroup should be available in the template and should be an object");

                    return "";
                };
                this.view.render();
            }

        });

        Y.Test.Runner.setName("eZ Content Edit Form View tests");
        Y.Test.Runner.add(viewTest);
        Y.Test.Runner.run();

    });
</script>
</body>
</html>
