<!doctype html>
<html>
<head>
<title>eZ Edit Preview View tests</title>
</head>
<body>

<div class="editpreviewview-container is-editpreview-hidden" style="margin-top: 2000px;"><div class="container"></div></div>

<script type="text/x-handlebars-template" id="editpreviewview-ez-template">
    <iframe class="ez-preview-iframe" width="{{ mode.width }}" height="{{ mode.height }}" src="{{ source }}"></iframe>
    <button class="ez-preview-hide" data-icon-after="&#xe000;">Close preview</button>
</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-editpreviewview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-editpreviewview'],
        filter: loaderFilter,
        modules: {
            "ez-editpreviewview": {
                requires: ['ez-templatebasedview', 'transition', 'event-tap', 'node-screen'],
                fullpath: "../../../Resources/public/js/views/ez-editpreviewview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-editpreviewview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
