<!doctype html>
<html>
<head>
<title>eZ Error view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="errorview-ez-template">
    <div class="ez-error-content">
        <div class="ez-error-dialog" tabindex="0">
            <h2>Oh oh, an error has occurred</h2>
            <p class="additional-info">
                {{#if additionalInfo.errorText}}
                {{ additionalInfo.errorText }}
                {{/if}}
            </p>
            <button class="pure-button ez-close-app" data-icon="&#xe000;">Close the application</button>
            <button class="pure-button ez-retry" data-icon="&#xe00f;">Retry the operation</button>
        </div>
    </div>
</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-errorview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
            loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-errorview'],
        filter: loaderFilter,
        modules: {
            "ez-errorview": {
                requires: ['ez-templatebasedview', 'transition', 'event-tap'],
                fullpath: "../../../Resources/public/js/views/ez-errorview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-errorview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
