<!doctype html>
<html>
<head>
<title>eZ Edit Action Bar View tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="barview-ez-template">template</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-editactionbarview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-editactionbarview'],
        filter: loaderFilter,
        modules: {
            "ez-editactionbarview": {
                requires: ['ez-barview'],
                fullpath: "../../../Resources/public/js/views/ez-editactionbarview.js"
            },
            "ez-barview": {
                requires: ['ez-templatebasedview', 'event-tap', 'event-resize'],
                fullpath: "../../../Resources/public/js/views/ez-barview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-editactionbarview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
