<!doctype html>
<html>
<head>
<title>eZ Field Edit view tests</title>
</head>
<body>

<script type="text/x-handlebars-template" id="fieldeditview-ez-template">
    <div>
        {{#if fieldDefinition.descriptions.[eng-GB]}}
        {{> ezFieldinfoTooltip }}
        {{/if}}
        <div class="ez-fielddefinition-name">
        </div>
        <div class="ez-editfield-error-message">default content</div>
    </div>
</script>

<script type="text/x-handlebars-template" class="ez-editorial-app-partial" id="ezFieldinfoTooltip">
    <div class="ez-editfield-i">?</div>
    <div class="ez-fielddefinition-tooltip ez-tail-up-tooltip">
        <div class="ez-fielddefinition-tooltip-text">
            <a class="ez-fielddefinition-tooltip-close" href="#close-tooltip" data-icon="&#xe000;">
                Close
            </a><br/>
            {{ fieldDefinition.descriptions.[eng-GB] }}
        </div>
    </div>
</script>

<script type="text/javascript" src="../../../node_modules/yui/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-fieldeditview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-fieldeditview'],
        filter: loaderFilter,
        modules: {
            "ez-fieldeditview": {
                requires: ['ez-templatebasedview', 'event-tap', 'event-outside', 'node-style'],
                fullpath: "../../../Resources/public/js/views/ez-fieldeditview.js"
            },
            "ez-templatebasedview": {
                requires: ['view', 'handlebars'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            }
        }
    }).use('ez-fieldeditview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
