<!doctype html>
<html>
<head>
<title>eZ Language Switcher View tests</title>
</head>
<body>

<div class="click-somewhere"></div>

<div class="container"></div>

<script type="text/x-handlebars-template" id="languageswitcherview-ez-template">
    <div class="ez-selected-language">
        {{#if otherTranslations}}
            <a href="#" class="ez-dropdown-list-indicator" data-test="{{ location.id }}">
                <span class="ez-language-flag flag-icon"></span>
                {{ currentTranslation }}
            </a>
        {{else}}
            <span class="ez-language-flag flag-icon"></span>
            {{ currentTranslation }}
        {{/if}}
    </div>
    {{#if otherTranslations}}
        <ul class="ez-expandable-area">
        {{#each otherTranslations}}
            <li class="ez-content-translation">
                <a href="#">
                    <span class="ez-language-flag flag-icon"></span>
                    {{ this }}
                </a>
            </li>
        {{/each}}
        </ul>
    {{/if}}
</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-languageswitcherview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
            loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-languageswitcherview'],
        filter: loaderFilter,
        modules: {
            "ez-languageswitcherview": {
                requires: ['ez-templatebasedview', 'ez-expandable', 'event-tap', 'event-outside'],
                fullpath: "../../../Resources/public/js/views/ez-languageswitcherview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            'ez-expandable': {
                requires: ['view'],
                fullpath: "../../../Resources/public/js/extensions/ez-expandable.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-languageswitcherview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
