<!doctype html>
<html>
<head>
<title>eZ Location View view tests</title>
</head>
<body>

<div class="container"></div>

<script type="text/x-handlebars-template" id="locationviewview-ez-template">
    <div class="ez-locationview-content">
        <div class="ez-tabs">
            <ul class="ez-tabs-list">
                <li class="ez-tabs-label is-tab-selected" id="first-label"><a href="#ez-tabs-view">View</a></li>
                <li class="ez-tabs-label"><a href="#ez-tabs-details">Details</a></li>
                <li class="ez-tabs-label"><a href="#ez-tabs-activity">Activity</a></li>
                <li class="ez-tabs-label" id="last-label"><a href="#ez-tabs-analytics">Analytics</a></li>
            </ul>
            <div class="ez-tabs-panels">
                <div class="ez-tabs-panel is-tab-selected" id="ez-tabs-view"></div>
                <div class="ez-tabs-panel" id="ez-tabs-details"></div>
                <div class="ez-tabs-panel" id="ez-tabs-activity"></div>
                <div class="ez-tabs-panel" id="ez-tabs-analytics"></div>
            </div>
        </div>
    </div>
    <div class="ez-actionbar-container"></div>
</script>

<script type="text/x-handlebars-template" id="barview-ez-template">
    <menu class="ez-actions-list active-actions" tabindex="0">
    </menu>
    <button class="view-more-button is-hidden">{{ viewMoreText }}</button>
    <menu class="ez-actions-list view-more-actions is-hidden">
    </menu>
</script>

<script type="text/x-handlebars-template" id="createcontentview-ez-template">
<button class="ez-action {{#if disabled}}is-disabled {{else}}{{#if actionId}}action-trigger {{/if}}{{/if}}{{#if hint}}with-hint{{/if}}" data-action="{{ actionId }}">
    <div class="font-icon action-icon">
        <p class="action-label">{{ label }}</p>
        {{#if hint}}
        <p class="action-hint">{{ hint }}</p>
        {{/if}}
    </div>
</button>
<div class="ez-expandable-area">
    <div class="content-type-groups">
        <h4>Create new subitem</h4>
        <div class="groups"></div>
    </div>
    <div class="content-types">
        <h4>Select type to create new subitem</h4>
        <input type="text" class="autocomplete-filter" placeholder="start typing to refine list" />
        <ul class="autocomplete-list"></ul>
    </div>
</div>
</script>

<script type="text/javascript" src="../../../node_modules/yui/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-locationviewview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-locationviewview', 'ez-tabs'],
        filter: loaderFilter,
        modules: {
            "ez-locationviewview": {
                requires: [
                    'ez-templatebasedview', 'ez-actionbarview', 'ez-rawcontentview', 'ez-buttonactionview', 'ez-tabs',
                    'event-tap', 'array-extras'
                ],
                fullpath: "../../../Resources/public/js/views/ez-locationviewview.js"
            },
            "ez-actionbarview": {
                requires: ['ez-barview', 'ez-buttonactionview', 'ez-createcontentactionview'],
                fullpath: "../../../Resources/public/js/views/ez-actionbarview.js"
            },
            "ez-rawcontentview": {
                requires: ['ez-templatebasedview', 'ez-accordion-element'],
                fullpath: "../../../Resources/public/js/views/ez-rawcontentview.js"
            },
            "ez-buttonactionview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../Resources/public/js/views/actions/ez-buttonactionview.js"
            },
            'ez-createcontentactionview': {
                requires: ['ez-createcontentfilterview', 'ez-buttonactionview', 'ez-expandable', 'event-tap'],
                fullpath: "../../../Resources/public/js/views/actions/ez-createcontentactionview.js"
            },
            'ez-createcontentfilterview': {
                requires: ['ez-selectionfilterview', 'ez-templatebasedview'],
                fullpath: "../../../Resources/public/js/views/ez-createcontentfilterview.js"
            },
            'ez-expandable': {
                requires: ['view'],
                fullpath: "../../../Resources/public/js/extensions/ez-expandable.js"
            },
            'ez-selectionfilterview': {
                requires: ['autocomplete-base', 'autocomplete-highlighters', 'autocomplete-filters', 'event-tap', 'view'],
                path: "../../../Resources/public/js/views/ez-selectionfilterview.js"
            },
            "ez-barview": {
                requires: ['ez-templatebasedview', 'event-tap', 'event-resize'],
                fullpath: "../../../Resources/public/js/views/ez-barview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-accordion-element": {
                requires: ['transition'],
                fullpath: "../../../Resources/public/js/extensions/ez-accordion-element.js"
            },
            "ez-tabs": {
                requires: ['node'],
                fullpath: "../../../Resources/public/js/extensions/ez-tabs.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-locationviewview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
