<!doctype html>
<html>
<head>
    <title>eZ Navigation Hub view tests</title>
    <link rel="stylesheet" href="../../../Resources/public/css/views/navigationhub.css" />
    <style>
        /* to make sure the corresponding sub menu is outside of the viewport */
        .ez-view-navigationhubview .ez-more { margin-right: -1em; }
    </style>
</head>
<body>

<div class="container ez-view-navigationhubview"></div>
<script type="text/x-handlebars-template" id="navigationitemview-ez-template">
item
</script>

<script type="text/x-handlebars-template" id="navigationhubview-ez-template">
    <a href="#" class="ez-logout">Logout</a>
    <ul class="ez-zones-navigation">
    {{#each zones }}
        <li class="ez-zone ez-{{ @key }}-zone" data-navigation="{{ @key }}">
            <p class="ez-zone-name">{{ . }}</p>
        </li>
    {{/each}}
    </ul>
    <nav class="ez-navigation">
    {{#each zones}}
        <ul class="ez-navigation-{{ @key }} is-navigation-hidden">
            <li class="ez-logo"><a class="ez-navigation-item" href="#">Logo</a></li>
            <li class="ez-sub-menu-link">
                <a class="ez-navigation-item" href="#">Insite editing</a>
                <ul class="ez-sub-menu">
                    <li><a class="ez-navigation-item" href="#">Site 1</a></li>
                    <li><a class="ez-navigation-item" href="#">Site 2</a></li>
                    <li><a class="ez-navigation-item" href="#">A very very very long site name</a></li>
                    <li><a class="ez-navigation-item" href="#">Site 4</a></li>
                </ul>
            </li>
            <li><a class="ez-navigation-item" href="#">Extensions 1</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 2</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 3</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 4</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 5</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 6</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 7</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 8</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 9</a></li>
            <li><a class="ez-navigation-item" href="#">Extensions 10 with a very long name!</a></li>
            <li class="ez-more ez-sub-menu-link">
                <a href="#" class="ez-navigation-item">More</a>
                <ul class="ez-sub-menu">
                    <li><a class="ez-navigation-item" href="#">Extensions 11</a></li>
                    <li><a class="ez-navigation-item" href="#">Extensions 12</a></li>
                    <li><a class="ez-navigation-item" href="#">Extensions 13</a></li>
                    <li><a class="ez-navigation-item" href="#">Extensions 14</a></li>
                    <li><a class="ez-navigation-item" href="#">Extensions 15</a></li>
                    <li class="last"><a class="ez-navigation-item" href="#">Extensions 16</a></li>
                </ul>
            </li>
        </ul>
    {{/each}}
    </nav>
</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-navigationhubview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-navigationhubview'],
        filter: loaderFilter,
        modules: {
            "ez-navigationhubview": {
                requires: ['ez-templatebasedview', 'ez-navigationitemview', 'event-tap', 'node-screen', 'node-style', 'event-outside', 'ez-height-change'],
                fullpath: "../../../Resources/public/js/views/ez-navigationhubview.js"
            },
            "ez-navigationitemview": {
                requires: ['ez-templatebasedview'],
                fullpath: "../../../Resources/public/js/views/navigation/ez-navigationitemview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-height-change": {
                requires: ['view'],
                fullpath: "../../../Resources/public/js/extensions/ez-height-change.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-navigationhubview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
