<!doctype html>
<html>
<head>
<title>eZ Server Side view tests</title>
</head>
<body>

    <div class="tab-test-container">
        <section class="ez-tabs">
            <ul class="ez-tabs-list">
                <li id="first-label" class="ez-tabs-label is-tab-selected"><a href="#tab1">Tab 1</a></li>
                <li id="last-label" class="ez-tabs-label"><a href="#tab2">Tab 2</a></li>
            </ul>
            <div class="ez-tabs-panels">
                <div id="tab1" class="is-tab-selected">Tab1</div>
                <div id="tab2">Tab2</div>
            </div>
        </section>
    </div>

    <div class="form-test-container"></div>
<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-serversideview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-serversideview'],
        filter: loaderFilter,
        modules: {
            "ez-serversideview": {
                requires: ['ez-view', 'ez-tabs', 'ez-selection-table', 'event-tap'],
                fullpath: "../../../Resources/public/js/views/ez-serversideview.js"
            },
            "ez-tabs": {
                requires: ['node'],
                fullpath: "../../../Resources/public/js/extensions/ez-tabs.js"
            },
            "ez-selection-table": {
                requires: ['node'],
                fullpath: "../../../Resources/public/js/extensions/ez-selection-table.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-serversideview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
