<!doctype html>
<html>
<head>
<title>eZ Subitem Box view tests</title>
</head>
<body>
<div class="container"></div>
<div class="container-expand-test"></div>
<div class="container-collapse-test"></div>

<script type="text/x-handlebars-template" id="subitemboxview-ez-template">
    <a href="#" class="ez-collapse-toggle">Collapse</a>
    <ul>
    {{#each viewsInfo}}
        <li class="{{#if selected}}is-view-selected{{/if}}"><a href="#" class="ez-switch-subitemview" data-view-identifier="{{identifier}}"></a>
    {{/each}}
    </ul>
    <div class="ez-subitembox-content ez-expandable-area"></div>
</script>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-subitemboxview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-subitemboxview'],
        filter: loaderFilter,
        modules: {
            "ez-subitemboxview": {
                requires: ['ez-templatebasedview', 'ez-expandable', 'ez-accordion-element', 'array-extras', 'event-tap'],
                fullpath: "../../../Resources/public/js/views/ez-subitemboxview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-expandable": {
                requires: ['view'],
                fullpath: "../../../Resources/public/js/extensions/ez-expandable.js"
            },
            "ez-accordion-element": {
                requires: ['transition'],
                fullpath: "../../../Resources/public/js/extensions/ez-accordion-element.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-subitemboxview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
