<!doctype html>
<html>
<head>
<title>eZ Studio Plus Presentation view tests</title>
</head>
<body>

<script type="text/x-handlebars-template" id="studiopluspresentationview-ez-template">
    <iframe class="ez-studiopluspresentation-content" src="about:blank"></iframe>
</script>
<div class="container" style="margin-top: 93px;"></div>

<script type="text/javascript" src="../../../Resources/public/vendors/yui3/build/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-studiopluspresentationview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;

    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/public/js/",
            replaceStr: "/Tests/instrument/Resources/public/js/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-studiopluspresentationview'],
        filter: loaderFilter,
        modules: {
            "ez-studiopluspresentationview": {
                requires: ['ez-templatebasedview', 'ez-height-fit'],
                fullpath: "../../../Resources/public/js/views/ez-studiopluspresentationview.js"
            },
            "ez-templatebasedview": {
                requires: ['ez-view', 'handlebars', 'template'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            },
            "ez-height-fit": {
                requires: ['view', 'node-screen', 'node-style'],
                fullpath:"../../../../Resources/public/js/extensions/ez-height-fit.js"
            },
            "ez-view": {
                requires: ['view', 'base-pluginhost', 'ez-pluginregistry'],
                fullpath: "../../../Resources/public/js/views/ez-view.js"
            },
            "ez-pluginregistry": {
                requires: ['array-extras'],
                fullpath: "../../../../Resources/public/js/services/ez-pluginregistry.js"
            },
        }
    }).use('ez-studiopluspresentationview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
