<!doctype html>
<html>
<head>
<title>eZ Template based view tests</title>
</head>
<body>

<script type="text/x-handlebars-template" id="testview-ez-template">template based view</script>
<script type="text/javascript" src="../../../node_modules/yui/yui/yui.js"></script>
<script type="text/javascript" src="./assets/ez-templatebasedview-tests.js"></script>
<script>
    var filter = (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
        loaderFilter;
    if (filter == 'coverage'){
        loaderFilter = {
            searchExp : "/Resources/",
            replaceStr: "/Tests/instrument/Resources/"
        };
    } else {
        loaderFilter = filter;
    }

    YUI({
        coverage: ['ez-templatebasedview'],
        filter: loaderFilter,
        modules: {
            "ez-templatebasedview": {
                requires: ['view', 'handlebars'],
                fullpath: "../../../Resources/public/js/views/ez-templatebasedview.js"
            }
        }
    }).use('ez-templatebasedview-tests', function (Y) {
        Y.Test.Runner.run();
    });
</script>
</body>
</html>
