.ez-view-universaldiscoveryfinderexplorerlevelview {
    margin: 0 0.6em 1em 0.6em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    min-width: 200px;
}

.ez-view-universaldiscoveryfinderexplorerlevelview:last-child {
    width: 100%;
    min-width: 600px;
}

.ez-view-universaldiscoveryfinderexplorerlevelview:last-child .ez-explorer-level-item {
    width: 92.5%;
}

.ez-view-universaldiscoveryfinderexplorerlevelview .ez-ud-finder-explorerlevel-anchor {
    float: right;
    visibility: hidden;
}
